torch
Flask==2.1.1
Flask-WTF==0.15.1
plotly==5.3.1
pandas==1.5.3
requests
firebase
python_jwt==3.3.0
gcloud
scikit-learn
matplotlib==3.4.3
twilio
python-firebase
mysql-connector-python 
redis
celery==5.2.3
stripe>=6.0.0
pymysql==1.4.46
sshtunnel
