/* body{
  background-image: url("/static/images/dark-gradient.png");
  background-size: cover;
  background-position: left top;
  height: 100%;
  width: 100%;
  color: white
} */

.about-us {
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("/static/images/dark-gradient.png"); 
  background-size: cover;
}

button{
  cursor: pointer;
}

.box {
  height: 100%;
  width: 100%;
  color: white
}

.box .about-us {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

.box .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.box .navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 72px;
  align-items: center;
  justify-content: center;
  padding: 0px 64px;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: white;
}

.top-left-logo{
  height: 24px;
}

.box .container {
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.box .content {
  position: relative;
  flex: 0 0 auto;
}

.box .column {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}


.box .column-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.box .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.box .nav-link-dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.box .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.box .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.box .style-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 20px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.box .button {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  all: unset;
  box-sizing: border-box;
  font-family: var(--text-regular-normal-font-family);
  color:white !important;
  border: 1px solid white;
  box-shadow: 0px 10px 45px -9px black;
  border-radius:6px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
  cursor: pointer;
}

.box .style-primary-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 20px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.button-2 {
  background: none;
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  box-sizing: border-box;
  color:white;
  border: none;
  border-radius:6px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
}

.button-2-1 {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  /* line-height: var(--text-regular-normal-line-height); */
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  /* all: unset; */
  box-sizing: border-box;
  color:black;
  border: 2px solid white;
  background-color: white;
  border-radius:6px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
  box-shadow: 0px 5px 30px -9px white;
}

.box .div-wrapper {
  display: flex;
  width: 100%;
  gap: 80px;
  padding: 112px 64px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.box .content-2 {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .column-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.box .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  font-weight: var(--text-regular-semi-bold-font-weight);
  color: var(--white);
  font-size: var(--text-regular-semi-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-semi-bold-font-style);
}

.box .short-heading-here {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: var(--white);
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  font-style: var(--heading-h1-font-style);
}

.box .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.box .lorem-ipsum-dolor {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: var(--white);
  font-size: var(--text-medium-normal-font-size);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  font-style: var(--text-medium-normal-font-style);
}

.box .actions-2 {
  align-items: flex-start;
  gap: 16px;
  padding: 16px 0px 0px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.box .button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.box .style-secondary-2 {
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.box .container-2 {
  gap: 80px;
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .content-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .heading {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-h2-font-family);
  font-weight: var(--heading-h2-font-weight);
  color: var(--white);
  font-size: var(--heading-h2-font-size);
  letter-spacing: var(--heading-h2-letter-spacing);
  line-height: var(--heading-h2-line-height);
  font-style: var(--heading-h2-font-style);
}

.box .text {
  position: relative;
  align-self: stretch;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: var(--white);
  font-size: var(--text-medium-normal-font-size);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  font-style: var(--text-medium-normal-font-style);
}

.box .actions-3 {
  align-items: center;
  gap: 24px;
  padding: 16px 0px 0px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.box .style-secondary-3 {
  display: inline-flex;
  flex: 0 0 auto;
  margin-left: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.box .style-link-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.box .placeholder-image {
  flex-grow: 1;
  height: 640px;
  width: 618px;
  object-fit: cover;
  position: relative;
  flex: 1;
}

.box .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 80px;
  padding: 80px 64px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}


.box .content-4 {
  display: flex;
  height: 248px;
  align-items: flex-start;
  gap: 128px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.button-sign-up{
  border: none;
  background-color: transparent;
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.button-log-in{
  border: none;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;

}

.box .newsletter {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.box .logo {
  position: relative;
  width: 63px;
  /* height: 27px; */
}

.box .join-our-newsletter {
  position: relative;
  align-self: stretch;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  font-style: var(--text-regular-normal-font-style);
}

.box .form {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .type-default {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid;
  border-color: #000000;
}

.box .text-wrapper-3 {
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: #000000;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  flex: 1;
  font-style: var(--text-regular-normal-font-style);
}

.box .style-secondary-4 {
  display: flex;
  width: 121px;
  margin-right: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.box .by-subscribing-you {
  position: relative;
  align-self: stretch;
  font-family: var(--text-tiny-normal-font-family);
  font-weight: var(--text-tiny-normal-font-weight);
  color: var(--white);
  font-size: var(--text-tiny-normal-font-size);
  letter-spacing: var(--text-tiny-normal-letter-spacing);
  line-height: var(--text-tiny-normal-line-height);
  font-style: var(--text-tiny-normal-font-style);
}

.box .links {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  font-size: 16px;
}

.box .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  font-weight: var(--text-regular-semi-bold-font-weight);
  color: var(--white);
  font-size: var(--text-regular-semi-bold-font-size);
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  font-style: var(--text-regular-semi-bold-font-style);
}

.box .div-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-5{
  flex-direction: column;
    gap: 16px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.div-9{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.text-wrapper-8{
  position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-small-normal-font-family);
    font-weight: var(--text-small-normal-font-weight);
    color: white;
    font-size: var(--text-small-normal-font-size);
    letter-spacing: var(--text-small-normal-letter-spacing);
    line-height: var(--text-small-normal-line-height);
    font-style: var(--text-small-normal-font-style);
}

.text-wrapper-9{
  position: relative;
    width: fit-content;
    font-family: var(--text-small-normal-font-family);
    font-weight: var(--text-small-normal-font-weight);
    color: white;
    font-size: var(--text-small-normal-font-size);
    letter-spacing: var(--text-small-normal-letter-spacing);
    line-height: var(--text-small-normal-line-height);
    white-space: nowrap;
    font-style: var(--text-small-normal-font-style);
}

.box .link {
  display: flex;
  align-items: flex-start;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: var(--white);
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  font-style: var(--text-small-normal-font-style);
}

.box .link-2 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: var(--white);
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-small-normal-font-style);
}

.box .youtube {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: var(--white);
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-small-normal-font-style);
}

.box .credits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
}

.box .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .element-relume-all {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: var(--white);
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  font-style: var(--text-small-normal-font-style);
}

.box .footer-links {
  display: inline-flex;
  gap: 24px;
  margin-left: -207px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.content-11{
      display: flex;
    height: 248px;
    align-items: flex-start;
    gap: 128px;
    position: relative;
}

.box .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-small-link-font-family);
  font-weight: bold;
  color: var(--white);
  font-size: var(--text-small-link-font-size);
  letter-spacing: var(--text-small-link-letter-spacing);
  line-height: var(--text-small-link-line-height);
  text-decoration: none;
  white-space: nowrap;
  font-style: var(--text-small-link-font-style);
}


@media (max-width: 800px) {
  .box .about-us{
    height: auto;
  }
  .box .div-wrapper{
    flex-direction: column;
    padding: 0px 20px;
  }
  .box .content-2{
    gap: 24px;
    padding: 0px;
    padding-bottom: 66px;
  }
  .box .div-wrapper .short-heading-here,
  .box .heading{
    font-size: 36px;
  }

  .box .actions-2,
  .box .actions-3{
    width: 100%;
    font-weight: bold;
  }

  .actions-2 a,
  .actions-3 a{
    width: 40%;
    height:36px;
  }

  .box .actions-2 button,
  .box .actions-3 button{
    width: 100%;
    height: 100%;
    padding: 0px;
    font-weight: bold;

  }

  .box .container-2,
  .box .content-2{
    flex-direction: column;
  }

  .box .actions-3{
    display: flex;
  }

  .box .placeholder-image{
    width: 100vw;
  }

  .box .content-2{
    padding-top: 66px;
  }









}