body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #16242f;
  color: #fefefe;
}

.table-wrapper {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Adjust this value to control the vertical centering */
}

table {
  width: 50%;
  border-collapse: collapse;
  border-bottom: 2px solid #253c4d;
  margin-top: 20px; /* Add margin for space from the top */
}

th, td {
  padding: 8px;
  text-align: left;
}

.border-top {
  border-top: 2px solid #253c4d;
  border-left: 2px solid #253c4d;
  border-right: 2px solid #253c4d;
}

.border-r-l {
  border-left: 2px solid #253c4d;
  border-right: 2px solid #253c4d;
}

.pair-start {
  padding-top: 10px;
}
