.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-users-userformpagewrap {
  height: 100vh;
  max-width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate, .w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.container, .container-2, .container-3 {
  height: 650px;
}

.container-4, .container-5, .container-6, .container-7 {
  display: flex;
}

.container-8 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.container-9 {
  display: flex;
}

.container-10, .container-11, .container-12, .container-13 {
  margin-left: auto;
  margin-right: auto;
}

.container-14 {
  display: flex;
}

.container-15 {
  display: block;
}

.container-16 {
  display: flex;
}

.container-17 {
  display: inline;
}

.container-18, .container-19, .container-20 {
  display: none;
}

.container-21, .container-22, .container-23, .container-24 {
  display: flex;
}

.container-25 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.container-26, .container-27, .container-28, .container-29, .container-30, .container-31, .container-32 {
  display: flex;
}

.container-33, .container-34, .container-35 {
  display: block;
}

.container-36 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  width: 214px;
  height: 44px;
  background-color: #21ce99;
  border-radius: 4px;
  flex-flow: column;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 12px;
  margin-right: auto;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  position: static;
  overflow: visible;
  box-shadow: 0 20px 45px -9px #21ce99;
}

.body {
  font-family: Almarai, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.heading {
  color: #fff;
  text-align: center;
  word-break: normal;
  font-size: 100px;
  font-weight: 800;
  line-height: 101px;
}

.paragraph {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.section {
  height: 850px;
  background-color: #190e29;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.heading-2 {
  color: #21ce99;
  -webkit-text-stroke-color: #21ce99;
  font-size: 76px;
  font-weight: 800;
  line-height: 86px;
}

.gradient-text {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(254deg, #21ce99, #efffe3);
  -webkit-background-clip: text;
  background-clip: text;
}

.container-37 {
  display: flex;
}

.image {
  width: 275px;
  margin-left: 20px;
}

.section-2 {
  height: 850px;
  background-color: #21ce99;
  overflow: visible;
}

.heading-3 {
  height: 105px;
  color: #fff;
  margin: 78px 69px 58px -124px;
  padding-left: 15px;
  font-size: 42px;
  font-weight: 600;
  line-height: 61px;
}

.container-38 {
  height: 650px;
  opacity: 1;
  outline-offset: 0px;
  border: 1px rgba(0, 0, 0, 0);
  border-radius: 0;
  outline: 0 #333;
  flex-flow: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-holder {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: ". ."
                 ". Area"
                 / 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: space-around;
  align-items: baseline;
  justify-items: center;
  margin-top: -2px;
  margin-left: -99px;
  margin-right: -107px;
  padding: 0 0 9px;
  display: grid;
}

.image-2 {
  max-width: 6%;
}

.image-3 {
  color: #fff;
}

.image-4 {
  margin: 59px 4px;
  padding-left: 0;
  padding-right: 0;
}

.paragraph-2 {
  color: #fff;
  flex-flow: column wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -77px;
  margin-bottom: 0;
  padding-top: 14px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 800;
  display: flex;
}

.text-span {
  padding-right: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.image-6 {
  height: 55px;
  margin-bottom: 16px;
}

.image-7 {
  margin-left: -21px;
  margin-right: -21px;
  padding-left: 0;
  padding-right: 0;
}

.heading-4 {
  color: #4a5568;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 36px;
  font-size: 60px;
  font-weight: 800;
}

.container-39 {
  height: auto;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 8px 5px -20px rgba(0, 0, 0, .2);
}

.grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block {
  width: 350px;
  height: 380px;
  outline-offset: 0px;
  border-radius: 6px;
  outline: 3px #21ce99;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 59px;
  margin-bottom: -12px;
  margin-left: 28px;
  padding-right: 0;
  display: flex;
  box-shadow: 0 0 0 -20px rgba(0, 0, 0, .2), 0 11px 20px 2px rgba(0, 0, 0, .2);
}

.list-item {
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  display: flex;
}

.list {
  color: #4a5568;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  margin-left: -99px;
  margin-right: -91px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  line-height: 29px;
  display: flex;
  position: static;
}

.heading-5, .heading-6, .heading-7 {
  color: #4a5568;
  margin-top: 40px;
  font-size: 20px;
}

.heading-8 {
  color: #4a5568;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: -5px;
  font-size: 50px;
  /* text-decoration: line-through; */
  display: flex;
}

.heading-price {
  color: #4a5568;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 60px;
  display: flex;
}

.heading-10 {
  color: #4a5568;
  letter-spacing: normal;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: -5px;
  font-size: 50px;
  /* text-decoration: line-through; */
  display: flex;
}

.button-2 {
  width: 214px;
  height: 44px;
  color: #4a5568;
  text-align: center;
  background-color: #ebf1ef;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.paragraph-3, .paragraph-4, .paragraph-5 {
  color: #4a5568;
  margin-top: 10px;
  font-size: 16px;
}

.list-item-2 {
  margin-right: -93px;
  padding-left: 0;
  padding-right: 0;
  line-height: 34px;
}

.list-item-3 {
  margin-right: -44px;
}

.text-span-2 {
  text-align: left;
  font-size: 33px;
}

.text-span-3 {
  font-size: 25px;
}

.text-span-4 {
  font-size: 30px;
}

.text-span-5, .text-span-6 {
  font-size: 25px;
}

.video {
  opacity: 1;
  border: 1px #000;
  border-radius: 0;
}

.button-3 {
  width: 214px;
  height: 44px;
  text-align: center;
  background-color: #21ce99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  font-size: 16px;
  display: flex;
}

.beta {
  color: #21ce99;
  margin-left: -3px;
  font-size: 18px;
}

.div-block-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 47px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  display: flex;
}

.list-item-4, .list-item-6, .list-item-7, .list-item-10, .list-item-11 {
  line-height: 34px;
}

.div-block-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template: "."
  / 1.75fr 1.75fr 2fr 1.75fr;
}

.text-span-7 {
  font-size: 20px;
  font-weight: 600;
}

.paragraph-7 {
  color: #fff;
  padding-left: 0;
  padding-right: 4px;
  font-size: 16px;
}

.paragraph-8 {
  color: #21ce99;
  font-size: 18px;
}

.div-block-4 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-5 {
  display: flex;
}

.button-4 {
  width: 214px;
  height: 44px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 4px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 12px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  box-shadow: 0 20px 45px -9px #fff;
}

.section-3 {
  height: 850px;
}

.bold-text-3 {
  font-size: 20px;
}

.image-8 {
  width: 62px;
  max-width: 49%;
}

.heading-11 {
  margin-left: 154px;
  font-size: 13px;
  font-weight: 500;
}

.container-40 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-copy {
  width: 350px;
  height: 380px;
  outline-offset: 0px;
  border-radius: 6px;
  outline: 2px solid #21ce99;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 59px;
  margin-bottom: -12px;
  margin-left: 28px;
  padding-right: 0;
  display: flex;
  box-shadow: 0 0 0 -20px rgba(0, 0, 0, .2), 0 11px 20px 2px rgba(0, 0, 0, .2);
}

.heading-12 {
  margin-top: 34px;
  margin-bottom: 41px;
  font-family: Almarai, sans-serif;
}

.field-label, .field-label-2, .field-label-3, .checkbox-label, .checkbox-label-2 {
  font-family: Almarai, sans-serif;
}

.text-span-8 {
  padding-right: 5px;
  font-family: Almarai, sans-serif;
}

.link-block {
  font-family: Almarai, sans-serif;
}

.submit-button {
  background-color: #21ce99;
  border-radius: 4px;
  margin-bottom: 4px;
  font-family: Almarai, sans-serif;
}

.user-email-field {
  border-radius: 4px;
  margin-bottom: 20px;
}

.user-password-field {
  border-radius: 4px;
  margin-bottom: 30px;
}

.form-footer {
  justify-content: center;
}

.sign-up-form-block {
  width: auto;
  height: auto;
}

.heading-13 {
  font-family: Almarai, sans-serif;
}

.user-password-field-2 {
  margin-bottom: 30px;
}

.text-span-9 {
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 45px;
  padding-left: 0;
  font-family: Almarai, sans-serif;
  display: flex;
}

.field-label-4, .field-label-5 {
  font-family: Almarai, sans-serif;
}

.submit-button-2 {
  background-color: #21ce99;
  border-radius: 4px;
  font-family: Almarai, sans-serif;
}

.link-block-2 {
  margin-right: 56px;
  padding-right: 0;
  font-family: Almarai, sans-serif;
}

.heading-14 {
  margin-bottom: 20px;
  font-family: Almarai, sans-serif;
}

.field-label-6 {
  font-family: Almarai, sans-serif;
}

.submit-button-3 {
  background-color: #21ce99;
  border-radius: 4px;
  font-family: Almarai, sans-serif;
}

.user-email-field-2 {
  border-radius: 4px;
}

.heading-15, .paragraph-9 {
  margin-bottom: 20px;
  font-family: Almarai, sans-serif;
}

.field-label-7 {
  font-family: Almarai, sans-serif;
}

.submit-button-4 {
  background-color: #21ce99;
  border-radius: 4px;
  font-family: Almarai, sans-serif;
}

.user-password-field-3 {
  border-radius: 4px;
  margin-bottom: 30px;
}

.heading-16, .paragraph-10, .heading-17, .user-account-wrapper {
  font-family: Almarai, sans-serif;
}

.text-field {
  border-radius: 0;
}

.submit-button-5 {
  background-color: #21ce99;
  border-radius: 4px;
}

.link-block-3, .heading-18 {
  margin-bottom: 20px;
}

.checkbox-label-3 {
  margin-bottom: 10px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.body-3 {
  font-family: Almarai, sans-serif;
}

.submit-button-6 {
  background-color: #21ce99;
  border-radius: 4px;
}

.body-4 {
  font-family: Almarai, sans-serif;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  height: 65px;
  max-width: 1140px;
  background-color: #190e29;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-41 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  width: 940px;
  height: 57.8125px;
  color: #fff;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -23px;
  font-family: Almarai, sans-serif;
  display: flex;
  overflow: visible;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  color: #21ce99;
  -webkit-text-stroke-color: white;
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  width: 150.984px;
  height: 44px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
  background-color: #21ce99;
  border-radius: 4px;
  margin-bottom: -16px;
  margin-left: 25px;
  margin-right: -64px;
  padding: 12px 25px 12px 23px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.image-10 {
  width: 250px;
  margin-top: 5px;
  margin-left: -68px;
}

.text-block {
  color: #fff;
}

.image-11 {
  width: 200px;
  height: auto;
  margin-left: -111px;
}

.navbar {
  color: #fff;
  background-color: #190e29;
  font-family: Almarai, sans-serif;
}

.nav-link-2, .nav-link-3, .nav-link-4 {
  color: #fff;
}

.button-5 {
  width: 150px;
  height: 44px;
  text-align: center;
  background-color: #21ce99;
  border-radius: 4px;
  margin-left: 39px;
  margin-right: -83px;
  padding-top: 13px;
  font-weight: 500;
}

.nav-menu {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-12 {
  display: none;
}

@media screen and (max-width: 991px) {
  .button {
    font-size: 16px;
  }

  .heading {
    font-size: 78px;
  }

  .paragraph {
    font-size: 19px;
  }

  .section {
    height: auto;
  }

  .image {
    margin-left: 15px;
  }

  .section-2 {
    height: auto;
  }

  .heading-3 {
    margin: 46px -33px 16px -20px;
    padding-left: 0;
    padding-right: 0;
    font-size: 32px;
    line-height: 43px;
  }

  .container-38 {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 39px;
    padding-right: 14px;
    display: flex;
  }

  .image-holder {
    margin: -23px -20px -5px;
  }

  .image-4 {
    width: 57px;
    margin-left: -8px;
  }

  .paragraph-2 {
    font-size: 13px;
  }

  .text-span {
    font-size: 14px;
    line-height: 24px;
  }

  .image-5 {
    width: 54px;
  }

  .image-6 {
    width: 70px;
    height: 50px;
  }

  .image-7 {
    width: 69px;
  }

  .heading-4 {
    margin-top: 54px;
    margin-bottom: -1px;
    font-size: 44px;
  }

  .grid {
    justify-content: center;
    justify-items: center;
  }

  .div-block {
    width: 240px;
    margin-left: -1px;
    margin-right: 0;
  }

  .list {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .heading-8 {
    font-size: 40px;
  }

  .heading-price {
    font-size: 55px;
  }

  .heading-10 {
    font-size: 40px;
  }

  .div-block-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -17px;
    margin-left: -12px;
  }

  .text-span-7 {
    font-size: 16px;
  }

  .paragraph-7 {
    padding-left: 19px;
    font-size: 12px;
  }

  .section-3 {
    height: 650px;
  }

  .bold-text-3 {
    font-size: 16px;
  }

  .heading-11 {
    margin-left: 117px;
    font-size: 12px;
  }

  .div-block-copy {
    width: 240px;
    margin-left: -1px;
    margin-right: 0;
  }

  .container-41 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .image-10 {
    width: 225px;
    margin-top: 10px;
    margin-left: 0;
  }

  .icon {
    margin-top: 13px;
  }

  .image-11 {
    width: 175px;
    margin-top: 5px;
    margin-left: 3px;
  }

  .button-5 {
    width: 125px;
    height: 35px;
    margin-left: 4px;
    margin-right: -10px;
    padding-top: 9px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 13px;
  }

  .heading {
    font-size: 66px;
  }

  .image {
    margin-left: 13px;
  }

  .section-2 {
    height: auto;
  }

  .heading-3 {
    margin-top: 56px;
    margin-bottom: 63px;
    margin-left: -19px;
    padding-top: 13px;
    padding-bottom: 0;
    font-size: 26px;
    line-height: 35px;
  }

  .container-38 {
    height: auto;
    max-width: 728px;
    padding-left: 46px;
    padding-right: 25px;
  }

  .image-holder {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    margin: 0 -11px 7px -14px;
    padding-bottom: 27px;
  }

  .image-4 {
    width: 45px;
  }

  .paragraph-2 {
    margin-left: -5px;
    padding-left: 0;
    font-size: 11px;
  }

  .text-span {
    line-height: 16px;
  }

  .image-5 {
    width: 40px;
  }

  .image-6 {
    width: 59px;
    height: 46px;
  }

  .image-7 {
    width: 45px;
  }

  .heading-4 {
    margin-top: 94px;
    margin-bottom: 47px;
  }

  .container-39 {
    width: auto;
    height: auto;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
  }

  .div-block {
    width: 150px;
    height: 302px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 21px;
    margin-bottom: 34px;
    margin-left: 0;
    padding-right: 0;
  }

  .list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 13px;
    padding-left: 21px;
    font-size: 14px;
  }

  .heading-5, .heading-6, .heading-7 {
    margin-top: 26px;
    font-size: 15px;
  }

  .heading-8 {
    margin-top: -7px;
    margin-bottom: 5px;
    font-size: 25px;
  }

  .heading-price {
    margin-top: -13px;
    margin-bottom: 5px;
    font-size: 25px;
  }

  .heading-10 {
    margin-top: -7px;
    margin-bottom: 5px;
    font-size: 25px;
  }

  .button-2 {
    width: 120px;
    height: 40px;
    margin-top: -2px;
    font-weight: 400;
  }

  .paragraph-3, .paragraph-4, .paragraph-5 {
    margin-top: -10px;
    font-size: 12px;
  }

  .list-item-2 {
    font-size: 10px;
    line-height: 15px;
  }

  .button-3 {
    width: 120px;
    margin-top: -2px;
    margin-bottom: 6px;
  }

  .div-block-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -56px;
    margin-bottom: 53px;
  }

  .list-item-4 {
    font-size: 10px;
    line-height: 15px;
  }

  .list-item-5 {
    font-size: 12px;
  }

  .list-item-6 {
    font-size: 10px;
  }

  .list-item-7 {
    font-size: 10px;
    line-height: 15px;
  }

  .list-item-8, .list-item-9 {
    font-size: 12px;
  }

  .list-item-10, .list-item-11 {
    font-size: 10px;
    line-height: 15px;
  }

  .grid-2 {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .paragraph-7 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 15px;
    display: flex;
  }

  .div-block-5 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .button-4 {
    margin-top: 12px;
    margin-bottom: -37px;
  }

  .image-8 {
    width: 50px;
  }

  .heading-11 {
    font-size: 11px;
  }

  .div-block-copy {
    width: 150px;
    height: 302px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 21px;
    margin-bottom: 34px;
    margin-left: 0;
    padding-right: 0;
  }

  .sign-up-form-block {
    width: 327px;
    display: flex;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .menu-button {
    margin-top: 19px;
  }

  .image-10 {
    width: 200px;
    margin-top: 14px;
  }

  .image-11 {
    width: 100px;
    margin: 15px 14px -9px 13px;
    display: none;
    overflow: visible;
  }

  .nav-link-2 {
    margin-left: -26px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
  }

  .nav-link-3 {
    padding-left: 13px;
    padding-right: 10px;
    font-size: 12px;
  }

  .nav-link-4 {
    margin-right: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
  }

  .button-5 {
    width: 110px;
    height: 35px;
    margin-left: 10px;
    margin-right: 16px;
    padding-top: 8px;
    font-size: 12px;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .image-12 {
    width: 75px;
    clear: none;
    margin-left: 0;
    margin-right: 31px;
    display: block;
    position: relative;
    top: 0%;
    bottom: auto;
    left: -57%;
    right: -84px;
  }

  .image-13 {
    width: 75px;
    margin-right: 56px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    width: 200px;
    min-width: 0;
    font-size: 10px;
  }

  .heading {
    margin-left: 13px;
    margin-right: 19px;
    font-size: 34px;
    line-height: 45px;
  }

  .paragraph {
    font-size: 13px;
  }

  .image {
    width: 200px;
    margin-left: 34px;
    font-size: 9px;
    line-height: 0;
  }

  .section-2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .heading-3 {
    margin: 141px -14px 41px -25px;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 30px;
    line-height: 36px;
  }

  .container-38 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -70px;
    padding-bottom: 0;
    padding-left: 51px;
  }

  .image-holder {
    grid-column-gap: 16px;
    grid-template: ". ."
                   ". Area"
                   ". ."
                   ". ."
                   ". ."
                   ". ."
                   ". ."
                   ". ."
                   / 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: baseline;
  }

  .image-4 {
    width: 27px;
  }

  .paragraph-2 {
    font-size: 7px;
    line-height: 12px;
  }

  .text-span {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    display: flex;
  }

  .image-5 {
    width: 26px;
  }

  .image-6 {
    width: 75px;
    height: 55px;
    text-align: center;
    margin-top: 17px;
    margin-left: 26px;
    padding-left: 0;
    display: block;
  }

  .image-7 {
    width: 26px;
  }

  .heading-4 {
    margin-top: 62px;
    margin-bottom: 36px;
  }

  .container-39 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .div-block {
    width: 275px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 6px;
    margin-right: 0;
  }

  .list {
    margin-top: 3px;
    margin-left: -145px;
    font-size: 16px;
  }

  .heading-5 {
    color: #4a5568;
    margin-top: 10px;
  }

  .heading-6 {
    color: #4a5568;
    margin-top: 12px;
  }

  .heading-7 {
    color: #4a5568;
    margin-top: 10px;
  }

  .heading-8 {
    margin-bottom: 8px;
    font-size: 30px;
  }

  .heading-price {
    font-size: 44px;
  }

  .heading-10 {
    margin-bottom: 8px;
    font-size: 30px;
  }

  .button-2 {
    width: 175px;
    height: 44px;
    margin-top: 5px;
  }

  .list-item-2 {
    font-size: 12px;
    line-height: 22px;
  }

  .button-3 {
    width: 175px;
    margin-top: 5px;
  }

  .beta {
    font-size: 14px;
  }

  .div-block-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: -55px 7px 48px -38px;
  }

  .list-item-4, .list-item-6, .list-item-7, .list-item-10, .list-item-11 {
    font-size: 12px;
    line-height: 22px;
  }

  .text-span-7 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    display: flex;
  }

  .paragraph-7 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -12px;
  }

  .paragraph-8 {
    font-size: 14px;
  }

  .div-block-4 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .button-4 {
    width: 200px;
    margin-top: 7px;
    margin-bottom: -32px;
  }

  .bold-text, .bold-text-2 {
    font-size: 13px;
  }

  .section-3 {
    height: auto;
  }

  .bold-text-3 {
    font-size: 20px;
  }

  .image-8 {
    max-width: 14%;
  }

  .heading-11 {
    width: 200px;
    text-align: left;
    margin-left: 13px;
    padding-left: 0;
    padding-right: 0;
    font-size: 7px;
  }

  .container-40 {
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .div-block-copy {
    width: 275px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 6px;
    margin-right: 0;
  }

  .heading-12 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
  }

  .text-span-8 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }

  .submit-button {
    margin-bottom: 9px;
  }

  .user-email-field {
    margin-bottom: 20px;
  }

  .user-password-field {
    margin-bottom: 40px;
  }

  .sign-up-form-block {
    width: auto;
    height: 550px;
    box-shadow: none;
    border-radius: 4px;
  }

  .body-2 {
    background-color: #fff;
  }

  .image-9 {
    color: #21ce99;
  }

  .heading-13 {
    margin-bottom: 20px;
    font-family: Almarai, sans-serif;
  }

  .user-password-field-2 {
    margin-bottom: 20px;
  }

  .form-footer-2 {
    justify-content: flex-start;
  }

  .text-span-9 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    padding-right: 6px;
    font-family: Almarai, sans-serif;
    display: flex;
  }

  .field-label-4, .field-label-5, .submit-button-2, .link-block-2 {
    font-family: Almarai, sans-serif;
  }

  .heading-14 {
    margin-bottom: 20px;
    font-family: Almarai, sans-serif;
  }

  .field-label-6 {
    font-family: Almarai, sans-serif;
  }

  .submit-button-3 {
    background-color: #21ce99;
    border-radius: 4px;
    font-family: Almarai, sans-serif;
  }

  .user-email-field-2 {
    border-radius: 4px;
  }

  .container-41 {
    max-width: none;
  }

  .navbar-brand {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .image-10 {
    width: 175px;
    margin-top: 10px;
    margin-bottom: -8px;
  }

  .icon {
    margin-top: 2px;
  }

  .image-11 {
    display: none;
  }

  .nav-link-2 {
    margin-left: 0;
    padding-left: 0;
    padding-right: 15px;
  }

  .nav-link-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-link-4 {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button-5 {
    margin-left: 0;
    margin-right: 10px;
    display: none;
  }

  .image-12 {
    width: 55px;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    left: -123px;
    right: -59.297px;
  }

  .container-42 {
    margin-left: 0;
    margin-right: 9px;
    padding-left: 0;
  }

  .image-13 {
    width: 40px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: none;
    position: relative;
    left: -19px;
  }
}

#w-node-f6156e23-5437-1574-b08e-b3c7a6563e9e-bc7c2e74 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: auto;
  justify-self: auto;
}

#w-node-_18b75afa-aefe-0d35-1622-627cd13f6a1e-bc7c2e74 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-fb49004c-b28f-7689-c381-4320f52080bb-bc7c2e74 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
}

#w-node-fb49004c-b28f-7689-c381-4320f52080bc-bc7c2e74 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_330f6ada-594d-85bf-a5bd-228b28ee742c-bc7c2e74 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
}

#w-node-_330f6ada-594d-85bf-a5bd-228b28ee742d-bc7c2e74 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-b8f4deb7-ec30-bbcc-9058-312940c9b391-bc7c2e74 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-b8f4deb7-ec30-bbcc-9058-312940c9b392-bc7c2e74 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-d76ee3f0-2097-2ac4-ade7-209d9fc73fca-bc7c2e74, #w-node-_6fcc8da6-204d-0442-97ae-ba245b94bf6a-bc7c2e74, #w-node-_101fcf90-53f0-2893-fbce-f3afa81d9c46-bc7c2e74, #w-node-d5f2531b-6694-f73e-7302-537613f0ced0-bc7c2e74, #w-node-_914a5620-19d9-e8cc-414f-4e54cb21c352-bc7c2e74, #w-node-_914a5620-19d9-e8cc-414f-4e54cb21c353-bc7c2e74, #w-node-_914a5620-19d9-e8cc-414f-4e54cb21c356-bc7c2e74, #w-node-_914a5620-19d9-e8cc-414f-4e54cb21c358-bc7c2e74, #w-node-_914a5620-19d9-e8cc-414f-4e54cb21c35f-bc7c2e74, #w-node-_477970fb-d01f-6598-cc67-3d804da641ea-bc7c2e74, #w-node-_477970fb-d01f-6598-cc67-3d804da641eb-bc7c2e74, #w-node-_477970fb-d01f-6598-cc67-3d804da641ee-bc7c2e74, #w-node-_477970fb-d01f-6598-cc67-3d804da641f7-bc7c2e74 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_18b75afa-aefe-0d35-1622-627cd13f6a1e-bc7c2e74, #w-node-fb49004c-b28f-7689-c381-4320f52080bc-bc7c2e74, #w-node-_330f6ada-594d-85bf-a5bd-228b28ee742d-bc7c2e74, #w-node-b8f4deb7-ec30-bbcc-9058-312940c9b392-bc7c2e74 {
    justify-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f6156e23-5437-1574-b08e-b3c7a6563e9e-bc7c2e74, #w-node-fb49004c-b28f-7689-c381-4320f52080bb-bc7c2e74, #w-node-_330f6ada-594d-85bf-a5bd-228b28ee742c-bc7c2e74, #w-node-b8f4deb7-ec30-bbcc-9058-312940c9b391-bc7c2e74 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai.zip') format('undefined');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai.zip') format('undefined');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai.zip') format('undefined');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai.zip') format('undefined');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}