*,
::before,
::after {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --spacing: 8px;
  --hue: 400;
  --brand1: #21ce99;
  --text1: inherit;
  --text2: hsl(0,0%,90%);
}

code {
  background: var(--background3);
}

body {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  min-height: 100vh;
  background: var(--background1);
  flex-gap: var(--spacing);
  color: var(--text1);
  gap: var(--spacing);
  padding: calc(var(--spacing) * 2);
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}

a {
  color: var(--brand1);
  text-decoration: none;
}

.number-code {
  border: 2px solid var(--brand1);

  padding-right: 25px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;


  // overflow: auto;
  > div {
    display: flex;
    > input:not(:last-child) {
      margin-right: calc(var(--spacing) * 2);
    }
  }
}

.content-area {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  background: var(--background2);
  padding: var(--spacing);
  border-radius: var(--spacing);
  max-width: min(100%, 50rem);
  p {
    color: inherit;
    font-size: .8em;
  }
}

form {
  input.code-input {
    font-size: 1.5em;
    width: 1em;
    text-align: center;
    flex: 1 0 1em;
  }
  input[type='submit']{
    margin-left: auto;
    display: block;
    font-size: 1em;
    cursor: pointer;
    transition: all cubic-bezier(0.4, 0.0, 0.2, 1) .1s;
    &:hover {
      background:var(--background3);
    }
  }
  input{
    padding: var(--spacing);
    border-radius: calc(var(--spacing) / 2);
    color: var(--text1);
    background: var(--background1);
    border: 0;
    border: 2px solid var(--brand1);
    &:invalid {
      box-shadow: none;
    }
    &:focus{
      outline: none;
      border: 2px solid rgb(79 70 229 / 1);
      background: var(--background3);
      color: var(--text1);
    }
  }
}

.alert{
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  justify-content: center;
  color: red;
}

@media only screen and (max-width: 768px) {
  .number-code {
    border: 2px solid var(--brand1);
  
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  
  
    // overflow: auto;
    > div {
      display: flex;
      > input:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

/* Hide the number up and down buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the input arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


