.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.image-15 {
  border-radius: 3px;
}

.image-16 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.nav-link-3 {
  color: #fff;
}

.div-block-7 {
  text-align: center;
}

.bold-text-5 {
  color: #21ce99;
}

.nav-link-gs {
  color: #fff;
  display: none;
}

.div-block-6 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 60px;
  display: grid;
}

.section-4 {
  color: #fff;
  background-color: #190e29;
}

.nav-menu {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 112px;
  display: flex;
}

.navbar-site {
  color: #fff;
  background-color: #190e29;
}

.container-42 {
  margin-right: -25px;
}

.paragraph-11 {
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  display: flex;
}

.heading-19 {
  text-align: center;
  margin-top: 44px;
}

.nav-link-4 {
  color: #fff;
}

.image-14 {
  width: 150px;
  margin-top: 9px;
}

.button-5 {
  width: 125px;
  height: 44px;
  text-align: center;
  background-color: #21ce99;
  border-radius: 4px;
  margin-top: 9px;
  margin-left: 29px;
  margin-right: -67px;
  padding-top: 13px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    margin-right: 35px;
  }

  .container-42 {
    margin-right: -6px;
  }

  .button-5 {
    width: 125px;
    height: 35px;
    margin-top: 13px;
    margin-left: -2px;
    margin-right: -10px;
    padding-top: 9px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link-3 {
    padding-left: 13px;
    padding-right: 10px;
    font-size: 12px;
  }

  .div-block-7 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .nav-link-gs {
    padding-left: 13px;
    padding-right: 10px;
    font-size: 12px;
  }

  .div-block-11 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .div-block-6 {
    grid-template-columns: 1fr 1fr;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .container-42 {
    margin-right: -34px;
  }

  .paragraph-11, .div-block-10 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .nav-link-4 {
    margin-right: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
  }

  .image-14 {
    width: 125px;
    margin-top: 11px;
  }

  .button-5 {
    width: 110px;
    height: 35px;
    margin-left: 1px;
    margin-right: 16px;
    padding-top: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .image-17, .image-15, .image-16 {
    width: 250px;
  }

  .nav-link-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-7 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .nav-link-gs {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
  }

  .div-block-11 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .div-block-6 {
    grid-template-columns: 1fr;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .container-42 {
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    margin-right: -21px;
    padding-left: 0;
    display: flex;
  }

  .paragraph-11, .div-block-10 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .nav-link-4 {
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-14 {
    display: none;
  }

  .button-5 {
    margin: -14px 10px 5px 120px;
    display: none;
  }
}

#w-node-_0810383c-c3e5-234c-dfb2-75332101906e-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-753321019070-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-753321019072-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101907b-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101907c-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101907d-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101907f-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101908e-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-753321019090-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-753321019093-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-753321019098-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-753321019099-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101909a-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101909c-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101909e-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-75332101909f-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-7533210190a0-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-7533210190a2-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-7533210190a4-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-7533210190a5-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-7533210190a6-abc3d0c0, #w-node-_0810383c-c3e5-234c-dfb2-7533210190a9-abc3d0c0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
