#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: var(--content-bg);
  color: var(--table-btn-bg);
  border-top: 1px solid var(--nav-border);
  margin-left: 204px;
  margin-top: 0;
  padding-top: 0;

}

#footer-content{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#link-container{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 2vh; */
  width: 50%;
  font-size: 0.5vw;
  font-weight: normal;
}

.talk-to-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  width: 50%;
}

.talk-to-us h1{
  font-size: 1em;
  font-weight: 100;
  font-weight: bold;

}

.talk-to-us h3{
  /* margin-top: 0.5vh; */
  font-size: 0.8em;
  font-weight: 100;
}

.socials-container{
  margin-top: 5vh;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 40%;
}

.social{
  display: flex;
  flex-direction: column;
  text-align: center;
  width:33%;
}

.disclaimer-div{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 50%;
}

.link{
  text-decoration: underline;
}

.disclaimer-div{
  font-size: 0.6rem;
  text-align: center;
}

.links-stack{
  text-decoration: underline;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  #footer{
    margin-left: 0;
  }

  .socials-container{
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 100%;
  }
  .social{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .multiple{
    flex-direction: column;
  }

}
