body{
  background-image: url("/static/images/dark-gradient.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: left top;
  height: 100%;
  width: 100%;
  color: white
}

.a{
  color: white;
}

.a:visited{
  color: white;
}

.home {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.top-left-logo{
  height: 24px;
}

button{
  cursor: pointer;
}

.home .navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 72px;
  align-items: center;
  justify-content: center;
  padding: 0px 64px;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: white;
}

.home .container {
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.home .content {
  position: relative;
  flex: 0 0 auto;
}

.home .column {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.home .div {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.home .nav-link-dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.home .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.home .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.home .style-secondary {
  display: inline-flex;
  padding: 8px 20px;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-left: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .button {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  all: unset;
  box-sizing: border-box;
  font-family: var(--text-regular-normal-font-family);
  color:white !important;
  border: 1px solid white;
  box-shadow: 0px 10px 45px -9px black;
  border-radius:6px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
  cursor: pointer;
}

.home .button-sign-up{
  border: none;
  background-color: transparent;
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.home .button-log-in{
  border: none;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.home .button-learn-more{
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  border: none;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
}

.home .button-learn-more-2{
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  border: none;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
} 

.home .button-learn-more-3{
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  border: none;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 12px 25px 12px 30px;
  width:420px;
  text-align: center;
}

.home .button-2-2{
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  border: none;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;

}

.home .style-primary-small {
  display: inline-flex;
  padding: 8px 20px;
  flex: 0 0 auto;
  margin-top: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .button-2-1 {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  /* line-height: var(--text-regular-normal-line-height); */
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  /* all: unset; */
  box-sizing: border-box;
  color:black;
  border: 2px solid white;
  background-color: white;
  border-radius:6px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
  box-shadow: 0px 5px 30px -9px white;
}

a {
  color: white ;

}

.home .button-2 {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  /* line-height: var(--text-regular-normal-line-height); */
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  /* all: unset; */
  box-sizing: border-box;
  color:black;
  border: 2px solid white;
  background-color: white;
  border-radius:6px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0px;
  padding: 90px 64px;
  position: relative;
  flex: 0 0 auto;
}

.home .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .medium-length-hero {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: white;
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  font-style: var(--heading-h1-font-style);
}

.home .p {
  position: relative;
  align-self: stretch;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: white;
  font-size: var(--text-medium-normal-font-size);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  font-style: var(--text-medium-normal-font-style);
}

.home .actions-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  font-family: var(--text-regular-normal-font-family);
}

.home .button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid white;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .placeholder-image {
  flex-grow: 1;
  /* height: 640px; */
  width: 616px;
  /* object-fit: cover; */
  position: relative;
  flex: 1;
}

.home .container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 80px;
  padding: 112px 64px;
  position: relative;
  flex: 0 0 auto;
}

.home .container-2 {
  align-items: center;
  gap: 80px;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.home .heading {
  align-self: stretch;
  margin-top: -1px;
  font-size: var(--heading-h3-font-size);
  line-height: var(--heading-h3-line-height);
  position: relative;
  font-family: var(--heading-h3-font-family);
  font-weight: var(--heading-h3-font-weight);
  color: white;
  letter-spacing: var(--heading-h3-letter-spacing);
  font-style: var(--heading-h3-font-style);
}

.home .div-wrapper-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 80px;
  padding: 112px 64px;
  position: relative;
  flex: 0 0 auto;
}

.home .content-2 {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home .div-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .subheading {
  width: fit-content;
  font-weight: var(--text-regular-semi-bold-font-weight);
  font-size: var(--text-regular-semi-bold-font-size);
  line-height: var(--text-regular-semi-bold-line-height);
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  color: white;
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  font-style: var(--text-regular-semi-bold-font-style);
}

.home .heading-2 {
  align-self: stretch;
  font-size: var(--heading-h2-font-size);
  line-height: var(--heading-h2-line-height);
  position: relative;
  font-family: var(--heading-h2-font-family);
  font-weight: var(--heading-h2-font-weight);
  color: white;
  letter-spacing: var(--heading-h2-letter-spacing);
  font-style: var(--heading-h2-font-style);
}

.home .actions-3 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding: 16px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.home .style-secondary-2 {
  display: inline-flex;
  padding: 12px 24px;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-left: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .style-link-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.home .div-5 {
  flex-direction: column;
  gap: 16px;
  flex: 1;
  /* flex-grow: 1; */
  display: flex;
  align-items: flex-start;
  position: relative;
}

.right{
  margin-left: 64px;
}

.home .timeline-item {
  gap: 40px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.home .content-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.home .icon-relume {
  position: relative;
  width: 48px;
  height: 48px;
}

.home .divider {
  position: relative;
  width: 2px;
  height: 100px;
  fill:white;
}

.home .heading-3 {
  align-self: stretch;
  margin-top: -1px;
  font-size: var(--heading-h6-font-size);
  line-height: var(--heading-h6-line-height);
  position: relative;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: white;
  letter-spacing: var(--heading-h6-letter-spacing);
  font-style: var(--heading-h6-font-style);
}

.home .text-wrapper-2 {
  align-self: stretch;
  font-size: var(--text-regular-normal-font-size);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  letter-spacing: var(--text-regular-normal-letter-spacing);
  font-style: var(--text-regular-normal-font-style);
}

.home .div-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .subheading-2 {
  width: fit-content;
  font-weight: var(--text-regular-semi-bold-font-weight);
  font-size: var(--text-regular-semi-bold-font-size);
  text-align: center;
  line-height: var(--text-regular-semi-bold-line-height);
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  color: white;
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  font-style: var(--text-regular-semi-bold-font-style);
}

.home .text-wrapper-3 {
  align-self: stretch;
  margin-top: -1px;
  font-size: var(--heading-h2-font-size);
  line-height: var(--heading-h2-line-height);
  position: relative;
  font-family: var(--heading-h2-font-family);
  font-weight: var(--heading-h2-font-weight);
  color: white;
  letter-spacing: var(--heading-h2-letter-spacing);
  font-style: var(--heading-h2-font-style);
}

.home .list {
  gap: 24px;
  padding: 8px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.home .list-item {
  flex-direction: column;
  gap: 8px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.home .content-4 {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .heading-4 {
  align-self: stretch;
  margin-top: -1px;
  font-size: var(--heading-h4-font-size);
  line-height: var(--heading-h4-line-height);
  position: relative;
  font-family: var(--heading-h4-font-family);
  font-weight: var(--heading-h4-font-weight);
  color: white;
  letter-spacing: var(--heading-h4-letter-spacing);
  font-style: var(--heading-h4-font-style);
}

.home .column-3 {
  display: flex;
  flex-direction: column;
  width: 768px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.home .pricing {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 48px;
  padding: 32px 64px;
  position: relative;
  flex: 0 0 auto;
}

.home .content-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.green{
  color: #21ce99;
  text-decoration: underline;
}

.home .section-title {
  display: flex;
  flex-direction: column;
  width: 768px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

.home .subheading-3 {
  align-self: stretch;
  font-weight: var(--text-regular-semi-bold-font-weight);
  font-size: var(--text-regular-semi-bold-font-size);
  text-align: center;
  line-height: var(--text-regular-semi-bold-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  color: white;
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  font-style: var(--text-regular-semi-bold-font-style);
}

.home .content-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .heading-5 {
  align-self: stretch;
  margin-top: -1px;
  font-size: var(--heading-h2-font-size);
  text-align: center;
  line-height: var(--heading-h2-line-height);
  position: relative;
  font-family: var(--heading-h2-font-family);
  font-weight: var(--heading-h2-font-weight);
  color: white;
  letter-spacing: var(--heading-h2-letter-spacing);
  font-style: var(--heading-h2-font-style);
}

.home .text {
  width: fit-content;
  font-size: var(--text-medium-normal-font-size);
  text-align: center;
  line-height: var(--text-medium-normal-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: white;
  letter-spacing: var(--text-medium-normal-letter-spacing);
  font-style: var(--text-medium-normal-font-style);
}

.home .tabs {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home .button-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
  font-family: var(--text-regular-normal-font-family);

}

.home .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.home .button-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
  font-family: var(--text-regular-normal-font-family);
}

.home .content-7 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  /* align-self: stretch; */
  /* width: 100%; */
  flex: 0 0 auto;
}

.home .column-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border: 1px solid;
  border-color: white;

}

.home .div-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .heading-6 {
  width: fit-content;
  margin-top: -1px;
  font-size: var(--heading-h6-font-size);
  text-align: center;
  line-height: var(--heading-h6-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: white;
  letter-spacing: var(--heading-h6-letter-spacing);
  font-style: var(--heading-h6-font-style);
}

.home .container-3 {
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.home .price-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: white;
  font-size: var(--heading-h1-font-size);
  text-align: center;
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}

.home .price-3 {
  position: relative;
  width: fit-content;
  font-family: var(--heading-h4-font-family);
  font-weight: var(--heading-h4-font-weight);
  color: white;
  font-size: var(--heading-h4-font-size);
  text-align: center;
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  white-space: nowrap;
  font-style: var(--heading-h4-font-style);
}

.home .list-2 {
  flex-direction: column;
  gap: 16px;
  padding: 8px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.home .div-8 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .text-2 {
  width: fit-content;
  margin-top: -1px;
  font-size: var(--text-regular-normal-font-size);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  letter-spacing: var(--text-regular-normal-letter-spacing);
  font-style: var(--text-regular-normal-font-style);
}

.home .style-primary-small-2 {
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-left: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .column-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: white;
}

.home .subheading-4 {
  align-self: stretch;
  font-weight: var(--text-medium-normal-font-weight);
  font-size: var(--text-medium-normal-font-size);
  text-align: center;
  line-height: var(--text-medium-normal-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--text-medium-normal-font-family);
  color: white;
  letter-spacing: var(--text-medium-normal-letter-spacing);
  font-style: var(--text-medium-normal-font-style);
}

.home .content-8 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .container-4 {
  flex-direction: column;
  width: 768px;
  align-items: center;
  gap: 80px;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.home .section-title-2 {
  width: 768px;
  align-items: center;
  gap: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.home .text-3 {
  align-self: stretch;
  font-size: var(--text-medium-normal-font-size);
  text-align: center;
  line-height: var(--text-medium-normal-line-height);
  position: relative;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: white;
  letter-spacing: var(--text-medium-normal-letter-spacing);
  font-style: var(--text-medium-normal-font-style);
}

.home .accordion-item {
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
  border: 1px solid;
  border-color: white;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .question {
  position: relative;
  flex: 1;
  font-family: var(--text-medium-bold-font-family);
  font-weight: var(--text-medium-bold-font-weight);
  color: white;
  font-size: var(--text-medium-bold-font-size);
  letter-spacing: var(--text-medium-bold-letter-spacing);
  line-height: var(--text-medium-bold-line-height);
  font-style: var(--text-medium-bold-font-style);
}

.home .plus {
  position: relative;
  width: 32px;
  height: 32px;
}

.home .content-9 {
  display: flex;
  flex-direction: column;
  width: 560px;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.home .content-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .heading-7 {
  align-self: stretch;
  margin-top: -1px;
  font-size: var(--heading-h4-font-size);
  text-align: center;
  line-height: var(--heading-h4-line-height);
  position: relative;
  font-family: var(--heading-h4-font-family);
  font-weight: var(--heading-h4-font-weight);
  color: white;
  letter-spacing: var(--heading-h4-letter-spacing);
  font-style: var(--heading-h4-font-style);
}

.home .style-secondary-3 {
  display: flex;
  width: 106px;
  padding: 12px 24px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .button-5 {
  position: relative;
  width: fit-content;
  margin-left: -11.5px;
  margin-right: -9.5px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  all: unset;
  box-sizing: border-box;

}

.home .column-6 {
  display: flex;
  flex-direction: column;
  width: 768px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.home .actions-4 {
  display: flex;
  flex-direction: column;
  width: 513px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.home .type-default {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid;
  border-color: white;
}

.home .text-wrapper-5 {
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  flex: 1;
  font-style: var(--text-regular-normal-font-style);
}

.home .style-primary-small-3 {
  display: flex;
  width: 105px;
  padding: 12px 24px;
  margin-top: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .button-6 {
  position: relative;
  width: fit-content;
  margin-left: -8px;
  margin-right: -6px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  all: unset;
  box-sizing: border-box;
}

.home .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: var(--text-tiny-normal-font-family);
  font-weight: var(--text-tiny-normal-font-weight);
  color: white;
  font-size: var(--text-tiny-normal-font-size);
  letter-spacing: var(--text-tiny-normal-letter-spacing);
  line-height: var(--text-tiny-normal-line-height);
  font-style: var(--text-tiny-normal-font-style);
}

.home .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 80px;
  padding: 80px 64px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home .content-11 {
  display: flex;
  height: 248px;
  align-items: flex-start;
  gap: 128px;
  position: relative;
  /* align-self: stretch; */
  /* width: 100%; */
}

.home .newsletter {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.home .logo {
  position: relative;
  /* width: 63px; */
  height: 27px;
}

.home .style-secondary-4 {
  display: flex;
  width: 121px;
  padding: 12px 24px;
  margin-top: -1px;
  margin-right: -1px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: white;
  all: unset;
  box-sizing: border-box;
}

.home .links {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  font-weight: var(--text-regular-semi-bold-font-weight);
  color: white;
  font-size: var(--text-regular-semi-bold-font-size);
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  font-style: var(--text-regular-semi-bold-font-style);
}

.home .div-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .link {
  display: flex;
  align-items: flex-start;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .text-wrapper-8 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: white;
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  font-style: var(--text-small-normal-font-style);
}

.home .link-2 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: white;
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-small-normal-font-style);
}

.home .divider-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
}

.home .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .element-relume-all {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: white;
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  font-style: var(--text-small-normal-font-style);
}

.home .footer-links {
  display: inline-flex;
  gap: 24px;
  margin-left: -207px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-small-link-font-family);
  font-weight: var(--text-small-link-font-weight);
  color: white;
  font-size: var(--text-small-link-font-size);
  letter-spacing: var(--text-small-link-letter-spacing);
  line-height: var(--text-small-link-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-style: var(--text-small-link-font-style);
}

@media (max-width: 800px) {

  .home .placeholder-image{
    width: 100%;
  }

  .header{
    flex-direction: column;
    padding: 66px 20px;
  }

  .home .container-wrapper, .container-2{
    flex-direction: column;
    width: 100%;
    padding: 20px 10px;

  }

  .home .container-2{
    gap: 0px;
  }

  #order-1{
    width: 100%;
    order:-1;
  }

  #order-2{
    order:2;
  }

  .home .div-wrapper-2{
    padding: 20px 20px;
    flex-direction: column;
    padding-bottom: 0px;
  }

  .home .content-2{
    align-items: center;
    padding: 20px 0px;
    flex-direction: column;
  }

  .div-5{
    padding-bottom: 0px;
  }

  .content-3 .divider{
    display: none;
  }

  .home .container-2{
    flex-direction: column;
  }

  .home .actions-3{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .list {
    flex-direction: column;
  }

  #order-last{
    order: 99;
  }

  .home .content-4{
    flex-direction: column;
  }

  .content-4 .actions-3{
    flex-direction: row;
  }

  .home .column-3{
    flex-direction: column;
    width: 100%;
  }

  .home .pricing{
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .home .content-7{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .home .column-5{
    width: 100%;
  }

  .home .button-learn-more-3{
    width: 100%;
  }

  .button-2-1{
    width: 64px;
  }

  .placeholder-image{
    padding-top: 40px;
  }


  .actions-2{
    padding-left: 00px;
    padding-right: 50px;
    width: 100%;
  }

  .home .content-4 {
    gap: 72px;
  }

  .home .actions-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  

  .actions-2 .button-2-1,
  .actions-2 a,
  .actions-3 a,
  .actions-3 .style-link-small,
  .actions-2 .button-2{
    width: 40%;
    height: 36px;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-weight: bold;
  }

  .actions-2 .button,
  .actions-2 .button-learn-more,
  .actions-3 .button-learn-more,
  .actions-3 .button-learn-more-2,
  .actions-3 .button-2{
    width: 100%;
    height: 100%;
    padding: 0px;
    font-weight: bold;
  }

  .home .div-2 .actions-2 .button-2-1{
    color: #222021
  }

  .actions-3 .button-2-2{
    padding: 0px;
    height: 100%;
  }

  .home .subheading-2{
    text-align: left;
  }

  .home .heading,
  .home .heading-2,
  .home .div-3 .text-wrapper-3,
  .list .text-wrapper-3,
  .pricing .heading-5,
  .pricing .price-2{
    font-size: 36px;
    font-weight: bold;
  }

  .div-8{
    width: 100%;
  }

  .div-8 .text-wrapper{
    width: 80%;
  }



}