body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color:#16242f;
  color: #fefefe;
}

h1 {
  font-size: 40px;
}

p {
  margin-bottom: 10px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  background-color: #16242f;
  color: #ffffff;
}
tbody tr{
	background-color: #16242f;
  color: #ffffff;
	outline: 3px solid #253c4d;
}


table.rounded-table {
  outline: 3px solid #253c4d;
  border-collapse: separate;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}

table.rounded-table td {
  padding: 30px;
	overflow-wrap: break-word;
	white-space: normal;
}

.add-to-betslip-button {
  width: 100%;     
  height: 100%;    
  padding: 0;     
  margin: 0;
  background-color: #16242f;
  color: #ffffff;
	border: none;
	cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
	font-size: 14px;

}

.add-to-betslip-button:hover {
  color: #f1f1f1; 
	text-decoration: underline; 
}

table.rounded-table td input {
  height: 40px; /* Set the desired height for the input elements */
	font-size: 14px;
  background-color: #16242f;
  color: #ffffff;
	border: none;



}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
    border-right: 1px solid #ffffff; 
    border-left: 1px solid #ffffff; 
    border-top: 1px solid #ffffff; 
    border-bottom: 1px solid #009879; 
  }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #ffffff; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 8px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "% +EV"; }
	td:nth-of-type(2):before { content: "Moneyline Bet"; }
	td:nth-of-type(3):before { content: "Odds"; }
	td:nth-of-type(4):before { content: "Sportsbook"; }
	td:nth-of-type(5):before { content: "Game Date"; }
	td:nth-of-type(6):before { content: "Time Updated"; }
}