body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color:#190e29;
  color: #fefefe;
	overflow: none;
  width: 100%;
}

h1 {
  font-size: 40px;
  margin-top: 40px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  background-color: #16242f;
  color: #ffffff;
}

tbody tr{
	background-color: #16242f;
  color: #ffffff;
	outline: 3px solid #fefefe;
  border-radius: 0px 0px 10px 10px;

}


table.rounded-table {
  outline: 3px solid #fefefe;
  border-collapse: separate;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}

table.rounded-table td {
  padding: 30px;
	overflow-wrap: break-word;
	white-space: normal;
}

.add-to-betslip-button {
  width: 100%;     
  height: 100%;    
  padding: 0;     
  margin: 0;
  background-color: #16242f;
  color: #ffffff;
	border: none;
	cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
	font-size: 14px;

}

.add-to-betslip-button:hover {
  color: #f1f1f1; 
	text-decoration: underline; 
}

table.rounded-table td input {
  height: 40px; /* Set the desired height for the input elements */
	font-size: 14px;
  background-color: #16242f;
  color: #ffffff;
	border: none;
}

.mobile{
	display: none;
}

#fetch-button {
	margin-top: 30px;
	margin-bottom: 20px; /* Add margin at the bottom */
	padding: 10px 20px;
	font-size: 16px;
	background-color: #16242f;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
  
#fetch-button:hover {
	color: #f1f1f1;
	text-decoration: underline;
	border-color: #f1f1f1;
}

table.rounded-table tr.editing-row td {
	background-color: #263F52;
	font-weight: bold;
}
  
table.rounded-table td input {
	height: 40px;
	font-size: 14px;
	background-color: #16242f;
	color: #ffffff;
	border: none;
	width: 100%;
	padding: 5px; /* Adjust padding as needed */
	box-sizing: border-box; /* Include padding and border in the element's total width */
}

.live-button{
	padding: 10px 25px;
	font-size: 16px;
	background-color: #16242f;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.live-button:hover {
	color: #f1f1f1;
	text-decoration: underline;
	border-color: #f1f1f1;
}


.bankroll-input{
	padding: 5px;
  margin-left:20px;
  margin-right:20px;
  position: relative;
}

.bankroll-input{
  width: 10%;
  font-size: 16px;
  padding: 5px;
  background-color: #16242f;
  border: 1px solid #f1f1f1;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  color: #fefefe;
}


.bankroll-input:focus{
  outline: none;
  border: 1px solid #327ba3;
  background-color: #16242f;
}

@media (max-width: 767px) {
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    margin-top: 10px;
  }

  table thead tr {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 10px;
  }

  table.rounded-table td {
    text-align: right;
    font-weight: bold;
    display: block;
    font-size: 16px;
    position: relative;
    margin: 0;
    padding: 0px 0px;
    height: 30px;
    overflow-wrap: break-word;
    white-space: normal;
  }

  table td::before {
    content: attr(before-data);
    float: left;
    font-weight: bold;
    font-size: 14px;
    font-weight: normal;
  }

  .mobile-no-display {
    display: none;
  }

  table td.mobile-no-display{
    display: none;
  }

  table.rounded-table td input {
    height: 100%;
    width: 100%;
    font-size: 12px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
		text-align: right; 
  }

  .add-to-betslip-button{
    border: 1px solid #253c4d;
    background-color: #1e3342;
  }
}


  
  
