@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
:root,
[data-theme=":default"] {
  --sidebar-bg-color: linear-gradient(to bottom, #21ce99, #f7f7f7);;
  --sidebar-font-color: #fff;
  --sidebar-li-active-color: #10674c;
  --sidebar-li-active-bg: #fff;
  --sidebar-border-color: #fff;
  --nav-bg: #ebeeed;
  --nav-bg-mobile: linear-gradient(to right, #21ce99, #f7f7f7);
  --nav-bg-mobile:  #21ce99;
  --nav-border: rgba(255, 255, 255, 100%);
  --nav-icons-color: #91a09a;
  --content-bg: #ebeeed;
  --table-bg: #fff;
  --table-p-color: #303835;
  --table-btn-font-color: #fff;
  --table-btn-bg: #011a13;
  --table-border-color: #afbab6;
  --table-border: none;
  --table-placeholder-color: #91a09a;
  --table-input-color: #101312;
  --table-select: #404a46;
  --table-thead-bg: #ebeeed;
  --table-thead-color: #404a46;
  --table-trow-border: #4d5f5a;
  --table-trow-special-color: #39ce9a;
  --table-trow-color: #303835;
  --table-footer-p-color: #404a46;
  --table-previous-btn-bg: #ebeeed;
  --table-previous-btn-color: #91a09a;
  --table-not-active-btn-color: #101312;
  --table-shadow: #21ce99;
  --close-menu-icons-color: #041a13;
  --scroll-bg: #cdd4d1;
  --m: none;
  --row-box-special-color-from:rgb(33,206, 153, 1);
  --row-box-special-color-to:rgba(33,206, 153, 0);
  --theme-color:#21ce99;
}

[data-theme=dark] {
  --sidebar-bg-color: linear-gradient(to bottom, #041a13, #02694C);
  --sidebar-font-color: #afbab6;
  --sidebar-li-active-color: #fff;
  --sidebar-li-active-bg: rgba(255, 255, 255, 15%);
  --sidebar-border-color: rgba(255, 255, 255, 15%);
  --nav-bg: linear-gradient(to right, #041a13, #02694C, #041a13, #D2D3D3);
  --nav-bg: #041a13;
  --nav-bg-mobile: linear-gradient(to right, #041a13, #024331);
  --nav-bg-mobile:  #041a13;
  --nav-border: rgba(255, 255, 255, 15%);
  --nav-icons-color: #fff;
  --content-bg: #011e16;
  --table-bg: #011A13;
  --table-p-color: #cdd4d1;
  --table-btn-font-color: #2c3331;
  --table-btn-bg: #f7f7f7;
  --table-border-color: #afbab6;
  --table-placeholder-color: #91a09a;
  --table-input-color: #fff;
  --table-select: #fff;
  --table-thead-bg: #2e3534;
  --table-thead-color: #afbab6;
  --table-trow-border: white;
  --table-trow-color: #fff;
  --table-trow-special-color: #21f3b8;
  --table-footer-p-color: #fff;
  --table-previous-btn-bg: #363c3b;
  --table-previous-btn-color: #afbab6;
  --table-not-active-btn-color: #afbab6;
  --table-shadow: rgba(243, 240, 240, 0.5);
  --close-menu-icons-color: #fff;
  --scroll-bg: #404a46;
  --table-border: 2px solid rgba(255, 255, 255, 100%);
  --row-box-special-color:black;
  --row-box-special-color-from:rgba(255,255,255, 1) ;
  --row-box-special-color-to:rgba(255,255,255, 0) ;
  --theme-color:#041a13;
}

.navbar-custom {
  height: 60px;
  position: sticky;
  z-index: 3;
  top: 0;
  /* background: var(--content-bg); */
  background: var(--nav-bg);
  width: 100%;
  border-bottom: 1px solid var(--nav-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.75rem;
}
.navbar-custom i {
  font-size: 1rem;
}
.navbar-custom .navbar-custom__left i {
  display: none;
  font-size: 1.3rem;
  color: var(--close-menu-icons-color);
  cursor: pointer;
}
@media (max-width: 49em) {
  .navbar-custom .navbar-custom__left i {
    display: flex;
  }
}
.navbar-custom .navbar-custom__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-custom .navbar-custom__right .navbar-custom__menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.navbar-custom .navbar-custom__right .navbar-custom__menu div {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1000px;
}
.navbar-custom .navbar-custom__right .navbar-custom__menu div img {
  border-radius: 1000px;
}
.navbar-custom .navbar-custom__right .navbar-custom__menu i {
  color: var(--nav-icons-color);
}
.navbar-custom .navbar-custom__right .navbar-custom__toggle-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-custom .navbar-custom__right .navbar-custom__toggle-theme button {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
}
.navbar-custom .navbar-custom__right .navbar-custom__toggle-theme button i {
  color: var(--nav-icons-color);
}

.table-custom {
  flex: 1;
  background-color: var(--table-bg);
  margin: 1.875rem;
  border-radius: 21px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
  position: relative;
  border: 2px solid var(--nav-border);
  overflow: hidden;
}
@media (max-width: 49em) {
  .table-custom {
    margin-inline: 1rem;
  }
}
.table-custom .table-custom__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.table-custom .table-custom__header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.table-custom .table-custom__header div h2 {
  font-family: Poppins;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.25px;
  background: linear-gradient(268deg, #0e9b6e -13.23%, #00c88f 100.57%);
  color: var(--table-btn-bg) !important;
  background-clip: text;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}
.table-custom .table-custom__header div button {
  padding: 1rem 1.5rem;
  color: var(--table-btn-font-color);
  background-color:var(--table-btn-bg);
  border-radius: 1000px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.table-custom .table-custom__header div button:hover {
  opacity: 0.93;
}
.table-custom .table-custom__header p {
  font-family: "Inter", sans-serif !important;
  color: var(--table-p-color);
}
.table-custom .table-custom__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.table-custom .table-custom__wrapper .table-custom__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__length {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__length label {
  font-size: 0.9rem;
  color: var(--table-select);
}
.table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__length select {
  border: 0.5px solid var(--table-border-color);
  padding: 0.4rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--table-select);
  font-size: 0.9rem;
  outline: none;
}
.table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__length select option {
  color: #101312;
}
.table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__search .table-custom__tools__search__input_wrapper {
  background-color: transparent;
  border: 0.5px solid var(--table-border-color);
  border-radius: 10px;
  height: 2.375rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-inline: 0.5rem;
}
.table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__search .table-custom__tools__search__input_wrapper i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--table-border-color);
}
.table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__search .table-custom__tools__search__input_wrapper input {
  background: none;
  border: none;
  outline: none;
  color: var(--table-input-color);
}
.table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__search .table-custom__tools__search__input_wrapper input:focus, .table-custom .table-custom__wrapper .table-custom__tools .table-custom__tools__search .table-custom__tools__search__input_wrapper input:active {
  border: none;
}
.table-custom .table-custom__wrapper .table-custom__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__head {
  display: flex;
  width: 100%;

  justify-content: space-evenly;
  
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--table-thead-bg);
  height: 2.5rem;
  border-radius: 10px;
  /* min-width: -moz-max-content;
  min-width: max-content; */

}
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__head li {
  flex-grow: 1;
  white-space: normal;
  color: var(--table-thead-color);
  font-weight: 500;
  /* padding: 0.25rem 1.75rem; */
  text-transform: uppercase;
  /* display: flex; */
  align-items: center;
  font-size: 0.65rem;
  font-weight: 500;
  gap: 1rem; 
  text-align: center;
}
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__head li svg {
  cursor: pointer;
  min-width: 1rem;
  min-height: 1rem;

}
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__head li svg path {
  stroke: var(--table-thead-color);
}
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__head li{
  width: 10%;
}

.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__rows {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__rows .table-custom__content__rows__row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 0;
  padding-right: .5rem;
  width: -moz-max-content;
  width: max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 100%;
  border-bottom: 1px solid var(--table-trow-border);
  font-weight: 400;
  text-align: center;
}
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__rows .table-custom__content__rows__row li {
  flex-grow: 1;
  white-space: nowrap;
  color: var(--table-trow-color);
  font-weight: 500;
  padding: 0rem 0.75rem;
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  gap: 1rem;
  width: 100%;
  overflow: hidden;

  text-wrap: pretty;
}
/* .table-custom .table-custom__wrapper .table-custom__content .table-custom__content__rows .table-custom__content__rows__row li svg {
  min-width: 1rem;
  min-height: 1rem;
} */
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__rows .table-custom__content__rows__row li {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 9%;
  /* text-align: center; */
}

.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__rows .table-custom__content__rows__row li:nth-child(3),
.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__head li:nth-child(1)
 {
  /* width: 5%; */
  padding: 0px;
}

.table-custom .table-custom__wrapper .table-custom__content .table-custom__content__rows .table-custom__content__rows__row li:nth-child(4)
{
  padding-right: 0px;
  padding-left: 0px;
  text-wrap: pretty;

}


.table-custom .table-custom__wrapper .table-custom__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media (max-width: 49em) {
  .table-custom .table-custom__wrapper .table-custom__footer {
    justify-content: center;
  }
}
.table-custom .table-custom__wrapper .table-custom__footer p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--table-footer-p-color);
}
.table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination {
  border: 0.5px solid var(--table-border-color);
  border-radius: 10px;
  display: flex;
  gap: 0;
  align-items: center;
  overflow: hidden;
}
.table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination button {
  height: 2.5rem;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination button.previous-custom-btn {
  background-color: var(--table-previous-btn-bg);
  color: var(--table-previous-btn-color);
  padding: 1rem 1.5rem;
}
.table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination button.previous-custom-btn:hover {
  opacity: 0.85;
}
.table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination button.next-custom-btn {
  background-color: transparent;
  color: #21ce99;
  padding: 1rem 1.5rem;
}
.table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination button.next-custom-btn:hover {
  opacity: 0.85;
}
.table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination button.table-custom__footer__pagination__number {
  width: 2.5rem;
  height: 2.5rem;
  border-right: 0.5px solid var(--table-border-color);
  color: var(--table-not-active-btn-color);
}
.table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination button.table-custom__footer__pagination__number.active, .table-custom .table-custom__wrapper .table-custom__footer .table-custom__footer__pagination button.table-custom__footer__pagination__number:hover {
  background-color: #21ce99;
  color: var(--table-btn-font-color);
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: #21ce99;
  border-radius: 20px;
  border: 1.5px solid #21ce99;
}

html {
  min-height: 100vh;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif !important;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Inter" !important;
  line-height: 1.8;
}

img {
  /* width: 100%; */
  /* height: 100%; */
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  font-family: "Inter" !important;
}

select,
option {
  font-family: inherit;
}

.container-custom {
  display: flex;
  align-items: flex-start;
  /* min-height: 100vh; */
}

.main-custom {
  margin-left: 204px;
  width: calc(100% - 204px);
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 49em) {
  .main-custom {
    margin-left: 0;
  }
}

.content-custom {
  flex: 1;
  background-color: var(--content-bg);
  overflow: hidden;
  min-height: calc(100vh - 60px);
}/*# sourceMappingURL=main.css.map */

.add-to-betslip-button{
  cursor:pointer;
}

.centered{
  display: block;
  text-align: center;
  font-family: "Inter", sans-serif !important;
  color: var(--table-p-color);
  padding-top: 150px;
  padding-bottom: 150px;
}

.paragraph-container {
  display: flex; /* Use flexbox to display elements horizontally */
  align-items: center; /* Center elements vertically within the container */
}
.desktop-no-display{
  display: none !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #21ce99;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  padding: 10px 10px 10px 10px;
}

.tooltip .tooltiptext-left{
  visibility: hidden;
  width: 120px;
  background-color: #21ce99;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -120px;
  padding: 10px 10px 10px 10px;
}


.tooltip .tooltiptext::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #21ce99 transparent;
}

.tooltip .tooltiptext-left::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 90%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #21ce99 transparent;
}

.tooltip:hover .tooltiptext,
.tooltip:hover .tooltiptext-left
{
  visibility: visible;
}

.sportsbook-li{
  display: flex;
  align-items: center;
}

#selected-option{
  padding: 3% 3% 3% 3%;
}

#show-dropdown-btn{
  margin-left: auto;
  color: var(--table-trow-border);
  height: 100%;
}

#dropdown-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid var(--table-trow-border); */
  border-radius: 10px 10px 10px 10px;
  /* width: 20%; */
}

#dropdown-container ul{
  list-style: none;
  box-sizing: content-box !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 10000;
  overflow-y: visible;
  width: 98%;
  border: 3px solid var(--table-trow-border) !important;
  border-radius: 10px;
  max-height: 100vh !important;
  overflow-y: auto;
}

#dropdown-container li.dropdown{
  width: 100%;
  background-color: var(--table-bg) !important;
  border-top: 2px solid var(--table-trow-border) !important;
  position: relative !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center;
  border-top: 1px solid;
  
}

#dropdown-container li.dropdown:first-child{
  width: 100%;
  border-radius: 10px 10px 0 0 ;
}

#dropdown-container li.dropdown:last-child{
  width: 100%;
  border-radius: 0px 0px 10px 10px ;
}

#dropdown-container li.dropdown span{
  margin-right: auto !important;
  font-size: 0.75rem;
  padding: 5% 5% 5% 5%;

}
#dropdown-container li.dropdown img{
  margin-right: 10%;
  border-radius: 10px;
}


.lowercase{
  text-transform: none !important;
}

#sportsbook{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: static;
  overflow-y: visible;
}

#sportsbook img{
  margin-right: 1%;
  border-radius: 10px;
  height: auto;
}

#sportsbook .tooltiptext_img {
  display: flex;
  text-wrap: wrap;
  overflow: auto;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#sportsbook:hover .tooltiptext_img {
  /* visibility: visible; */
  opacity: 1;
}

#rec-bet-size-number.adding-to-bet-tracker{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}


#best-odds.adding-to-bet-tracker{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

#bet-size-input.adding-to-bet-tracker{
  background-color: var(--table-bg);
  border: 2px solid var(--table-trow-special-color) !important;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 50%;
}


#odds-taken-input.adding-to-bet-tracker{
  background-color: var(--table-bg);
  border: 2px solid var(--table-trow-special-color) !important;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 50%;
}


#odds-taken-input.adding-to-bet-tracker{
  display: flex;
  align-items: center;
  justify-content: center;
}

#save-button.adding-to-bet-tracker{
  cursor: pointer;
  color: white;
  padding-right: 0;
  font-size: 0.75rem;
}

#dropdown-options.adding-to-bet-tracker{
  position: relative !important;
  display: block !important;
  visibility: visible !important;
}

#dropdown-options.done-adding-to-bet-tracker{
  display: none !important;
  height: none !important;
}

.line-wrapper {
  display: inline-flex;
  align-items: center;
}

.line {
  flex: 1;
  height: 1px; /* Thickness of the line */
  background-color: var(--sidebar-border-color); /* Or your desired line color */
}

.text {
  font-size: 12px;
  padding: 0 5px; 
  color: inherit;
}

#loom-container{
  position: fixed;
  width: 82%;
  height: 80%;
  z-index: 9999;
  display: flex;
  margin: 1.875rem;
}

#loom-div{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background-color: var(--table-bg);
  border: 2px solid var(--nav-border);
  box-shadow: 0 0 10px 1px white;
  color: var(--table-btn-bg);

}

#loom-div-header{
  font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25px;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loom-div-vid-box{
  /* display: flex; */
  width: 100%;
  height: 100%;
  align-items: center;
}

#frame-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#frame-container iframe{
  width: 100%;
  height: 100%;

}

#button-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

#got-it-button{
  background-color: var(--table-btn-bg);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--table-btn-font-color);
}

/* Style the dropdown button */
.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown{
  margin-left: 10px;
  display: flex;
}

/* Dropdown content (hidden by default) */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  font-size: 36px;
  border: 2px solid var(--nav-border);
  background-color: var(--table-thead-bg);
}

/* Show the dropdown content when the dropdown button is clicked */
.show {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: scroll;
  padding: 0px;
  z-index: 9999;
}

#filter{
  stroke:none;
}


.dropbtn path{
  fill:var(--table-thead-color);
}

.filter-dropdown-label{
  font-size: 0.65rem;
  color: var(--table-thead-color);
  background-color: var(--table-thead-bg);
  text-align: center;
  text-decoration: underline;
}

.filter-dropdown-item{
  font-size: 0.65rem;
  color: var(--table-thead-color);
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-top: 1px solid red; */
}

.filter-dropdown-item:hover{
  font-size: 0.65rem;
  color: var(--table-btn-bg);
  text-align: left;
  cursor: pointer;
}

.filter-dropdown-item.active{
  font-size: 0.65rem;
  font-weight: bold;
  color: var(--table-btn-bg);
  text-align: left;
}

.sort-icon path{
  fill:var(--table-thead-color);
}

.sort-icon.active path{
  fill:#21ce99;
}

@media (max-width: 767px) {
  .table-custom .table-custom__wrapper,
  .table-custom__content {
    width: 100%;
    overflow: hidden !important;
  }
  .table-custom__content__rows {
    overflow:  hidden !important;
  }

  #rec-bet-size-number.adding-to-bet-tracker{
    align-items: center;
    width: 50% !important;
  }


  #dropdown-options.adding-to-bet-tracker{
    position: absolute !important;
    display: block;
    visibility: visible;
  }

  .table-custom {
    height: calc(100vh - 60px);
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    box-sizing: border-box !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    width: 100% !important;
    table-layout: fixed !important;
    align-items: center;
    scroll-snap-type: y mandatory !important;

  }
  .desktop-no-display{
    display: flex !important;
  }

  .table-custom__content__head{
    /* display: none !important; */
  }
  .table-custom__content__rows {
    height: 1000px !important;
    scroll-snap-type: y mandatory !important;
    overflow: scroll !important;
  }

  .table-custom__content__rows__row {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    max-width: 100% !important;
    min-width: 80% !important;
    padding-right: 0 !important;
    border: 1px solid var(--table-trow-border) !important;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5% !important;
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;
    align-items: stretch !important;
    scroll-snap-align: start !important; 
  }

 /* EV*/
.table-custom__content__rows__row li:nth-child(11) { 
  order: 1 !important;
  width: 100% !important;
  margin: 0 !important;
  text-align: center !important;  /* Center text vertically within the parent div */
  font-size: 1.5rem !important;
  padding-top: 0 !important;
  padding-bottom: 1vh !important;
}

 /* Game*/
 .table-custom__content__rows__row li:nth-child(5) { 
  order: 2 !important;
  width: 100% !important;
  gap: 0rem !important;
  padding-bottom: 0 !important;
}

 /* Game date */
 .table-custom__content__rows__row li:nth-child(6) { 
  order: 3 !important;
  width: 100% !important;
  margin: 0 !important;
  text-align: center !important;  /* Center text vertically within the parent div */
  font-size: .75rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  gap: 0rem !important;
  border-top: 1px solid var(--table-trow-border) !important;
}

/* League */
.table-custom__content__rows__row li:nth-child(3) { 
  order: 4 !important; 
  width: 100% !important;
  gap: 0rem !important;
}

/*Market */
.table-custom__content__rows__row li:nth-child(14) { 
  order: 5 !important;
  width: 100% !important;
  color: var(--table-trow-special-color) !important;
  padding-right: 0px !important;
  padding-left: 0px !important;

}

.table-custom__content__rows__row li:nth-child(14)::after {
  content: "";
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height for the thickness of the top border */
  background: linear-gradient(to top, var(--row-box-special-color-from), var(--row-box-special-color-to));
  z-index: 1;
}

/* "REC BET SIZE"" */
.table-custom__content__rows__row li:nth-child(13) { 
  order: 6 !important;
  width: 50% !important;
  border-right: 1px solid var(--table-trow-border) !important;
  padding-top: 2vh !important;
  font-weight: bold !important;
  background-color: var(--row-box-special-color) !important;
  position: relative;
}

/* Wager */
.table-custom__content__rows__row li:nth-child(15) {
  order: 7 !important;
  width: 50% !important;
  padding-top: 2vh !important;
  font-weight: bold !important;
  background-color: var(--row-box-special-color) !important;
}

/* Rec bet size */
.table-custom__content__rows__row li:nth-child(8) { 
  order: 8 !important; 
  width: 50% !important;
  border-right: 1px solid var(--table-trow-border) !important;
  font-weight: bold !important;
  padding-top: 5px !important;
  padding-bottom: 2vh !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 1rem !important;
  background-color: var(--row-box-special-color) !important;
}

/* Min Odds */
.table-custom__content__rows__row li:nth-child(9) { 
  order: 9 !important; 
  width: 25% !important;
  font-weight: bold !important;
  padding-top: 0 !important;
  padding-bottom: 2vh !important;
  gap: 0rem !important;
  text-align: center !important;
  justify-content: right  !important;
  font-size: 1rem !important;
  /* color: var(--table-trow-special-color); */
  background-color: var(--row-box-special-color) !important;
}

/* "MIN" */
.table-custom__content__rows__row li:nth-child(9):after { 
  content: attr(data-before);
  font-size: 0.5rem !important;
  text-align: center !important;
  font-weight: 250 !important;
  color: var(--table-trow-color) !important;
}

/* Max Odds */
.table-custom__content__rows__row li:nth-child(10) { 
  order: 10 !important; 
  width: 25% !important;
  font-weight: bold !important;
  padding-top: 0 !important;
  padding-bottom: 2vh !important;
  gap: 0rem !important;
  text-align: center !important;
  font-size: 1rem !important;
  background-color: var(--row-box-special-color) !important;
}
/* "MAX" */
.table-custom__content__rows__row li:nth-child(10):after { 
  content: attr(data-before);
  font-size: 0.5rem !important;
  font-weight: 250 !important;
  text-align: center !important;
  color: var(--table-trow-color) !important;
}

/* sportsbooks */
.table-custom__content__rows__row li:nth-child(7) { 
  order: 11 !important; 
  width: 100% !important;
  border-top: 1px solid var(--table-trow-border) !important;
 gap: 0 !important;
 padding-top: 0.5rem !important;
}

/* Time Since Update */
.table-custom__content__rows__row li:nth-child(12) { 
  order: 12 !important;
  gap: 0 !important;
}


#min-odds, #best-odds, #rec-bet-size-number, #green{
  color: var(--table-trow-special-color) !important;
}

  .mobile-no-display {
    display: none !important;
  }

  li.mobile-no-display{
    display: none !important;
  }


  .table-custom__content__rows__row {
    width: 100% !important;
  }

  .li{
    display: flex  !important;
    justify-items: center;
  }

  li::after {
    content: "";
    display: table;
    clear: both;
  }

  b{
    font-weight: 500 !important;
  }

  #dropdown-options.adding-to-bet-tracker{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 60%;
    bottom: -3% !important;
  }
  

  #dropdown-container li.dropdown {
    width: 100% !important;
    height: 100% !important;
    font-size: 0.5rem !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    gap: 0 !important;
    border: none !important;
  }

  #dropdown-container li.dropdown:before{
    display: none;
  }

  #best-odds.adding-to-bet-tracker, #rec-bet-size-number.adding-to-bet-tracker{
    width: 50% !important;
  }

  #min-odds.adding-to-bet-tacker{
    display: none !important;
  }

  #odds-taken-input.adding-to-bet-tracker{
    display: flex !important;
    width: 50% !important;
    font-size: 1rem;
    border-width: 0px 0px 0px 0px !important;
    outline: 2px solid var(--table-trow-special-color) !important;
    border-radius:10px !important;
  }

  #bet-size-input.adding-to-bet-tracker{
    /* width: 50% !important; */
    font-size: 1rem;
    border-width: 0px 0px 0px 0px !important;
    outline: 2px solid var(--table-trow-special-color) !important;
    border-radius:10px !important;
  }

  .navbar-custom{
    background: var(--nav-bg-mobile);
  }

  .sportsbook-li{
    position:relative;
  }

  .sportsbook-li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px; /* Adjust the height for the thickness of the top border */
    background: linear-gradient(to top, var(--row-box-special-color-to), var(--row-box-special-color-from));
    z-index: 1;
  }

  .toggle-button{
    margin-right:5px !important;
  }

  .table-custom__content__head{
    height: auto !important;
    margin-bottom: 50px;
  }

  .table-custom__content__head li
  {
    height: 100%;
    padding: 5px;
    gap: 0 !important;
  }

  .filter-container{
    height: 100% !important;
  }

  .filter-container-2{
    height: 100%;
    flex-direction: column !important;
    justify-content: center !important;
    padding:5px;
    align-items: center;
  }

  .dropdown{
    height: 0px;
  }

  .filter-container-2 a{
    order: 2;
    font-size: 0.5rem !important;
    display: none;


  }
  .filter-container-2 svg{
    order: 1;
     /* Adjust the scale factor as needed */
  }

  .table-custom__content__head li:nth-child(3) {
    display: none !important;
  }

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


