body{
  background-image: url("/static/images/dark-gradient.png");
  background-size: cover;
  background-position: left top;
  width: 100%;
  color: white
}

.box {
  width: 100%;
  height: 4613px;
}

.box .products {
  position: static;
  width: 100%;
  height: 4613px;
  top: 0;
  left: 0;
}

.box .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.box .layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 80px;
  padding: 112px 64px;
  position: relative;
  flex: 0 0 auto;
}

.box .container {
  align-items: center;
  gap: 80px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .placeholder-image {
  flex-grow: 1;
  width: 616px;
  object-fit: cover;
  position: relative;
  flex: 1;
}

.box .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.box .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .heading {
  align-self: stretch;
  font-size: var(--heading-h3-font-size);
  line-height: var(--heading-h3-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--heading-h3-font-family);
  font-weight: var(--heading-h3-font-weight);
  color: white;
  letter-spacing: var(--heading-h3-letter-spacing);
  font-style: var(--heading-h3-font-style);
}

.box .text {
  align-self: stretch;
  font-size: var(--text-medium-normal-font-size);
  line-height: var(--text-medium-normal-line-height);
  position: relative;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: white;
  letter-spacing: var(--text-medium-normal-letter-spacing);
  font-style: var(--text-medium-normal-font-style);
}

.box .list {
  gap: 24px;
  padding: 8px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.box .div-3 {
  flex-direction: column;
  gap: 16px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.box .text-wrapper {
  align-self: stretch;
  font-size: var(--heading-h6-font-size);
  line-height: var(--heading-h6-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: white;
  letter-spacing: var(--heading-h6-letter-spacing);
  font-style: var(--heading-h6-font-style);
}

.box .p {
  align-self: stretch;
  font-size: var(--text-regular-normal-font-size);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  letter-spacing: var(--text-regular-normal-letter-spacing);
  font-style: var(--text-regular-normal-font-style);
}

.box .div-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 80px;
  padding: 112px 64px;
  position: relative;
  flex: 0 0 auto;
}

.box .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.box .text-wrapper-2 {
  align-self: stretch;
  font-size: var(--heading-h2-font-size);
  line-height: var(--heading-h2-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--heading-h2-font-family);
  font-weight: var(--heading-h2-font-weight);
  color: white;
  letter-spacing: var(--heading-h2-letter-spacing);
  font-style: var(--heading-h2-font-style);
}

.box .actions {
  display: inline-flex;
  padding: 16px 0px 0px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.box .style-primary-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid;
  border-color: #000000;
}

.box .button {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  all: unset;
  box-sizing: border-box;
}

.box .style-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid;
  border-color: #000000;
}

.button-2-1 {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  /* line-height: var(--text-regular-normal-line-height); */
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  /* all: unset; */
  box-sizing: border-box;
  color:black;
  border: 2px solid white;
  background-color: white;
  border-radius:6px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
  box-shadow: 0px 5px 30px -9px white;
}

.button-learn-more{
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  border: none;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 12px 25px 12px 30px;
  width:180px;
  text-align: center;
  cursor: pointer;
}

.box .button-2 {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
  all: unset;
  box-sizing: border-box;
}

.box .img {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 400px;
  object-fit: cover;
}

.box .section-title {
  display: flex;
  flex-direction: column;
  width: 560px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.box .content-2 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.box .stars {
  position: relative;
  flex: 0 0 auto;
}

.box .quote {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: white;
  font-size: var(--heading-h6-font-size);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  font-style: var(--heading-h6-font-style);
}

.box .container-2 {
  align-items: flex-start;
  gap: 80px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .section-title-2 {
  width: 500px;
  align-items: flex-start;
  gap: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.box .button-wrapper {
  width: 106px;
  flex: 0 0 auto;
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: #000000;
}

.box .list-2 {
  flex-direction: column;
  gap: 48px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.box .div-5 {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .question {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-medium-bold-font-family);
  font-weight: var(--text-medium-bold-font-weight);
  color: white;
  font-size: var(--text-medium-bold-font-size);
  letter-spacing: var(--text-medium-bold-letter-spacing);
  line-height: var(--text-medium-bold-line-height);
  font-style: var(--text-medium-bold-font-style);
}

.box .pricing {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 48px;
  padding: 112px 64px;
  position: relative;
  flex: 0 0 auto;
}

.box .content-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.box .section-title-3 {
  width: 768px;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.box .subheading {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  font-weight: var(--text-regular-semi-bold-font-weight);
  color: white;
  font-size: var(--text-regular-semi-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  font-style: var(--text-regular-semi-bold-font-style);
}

.box .content-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .heading-2 {
  align-self: stretch;
  font-size: var(--heading-h2-font-size);
  text-align: center;
  line-height: var(--heading-h2-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--heading-h2-font-family);
  font-weight: var(--heading-h2-font-weight);
  color: white;
  letter-spacing: var(--heading-h2-letter-spacing);
  font-style: var(--heading-h2-font-style);
}

.box .text-2 {
  width: fit-content;
  font-size: var(--text-medium-normal-font-size);
  text-align: center;
  line-height: var(--text-medium-normal-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: white;
  letter-spacing: var(--text-medium-normal-letter-spacing);
  font-style: var(--text-medium-normal-font-style);
}

.box .tabs {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.box .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.box .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.box .button-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.box .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.button-learn-more-3{
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  border: none;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 12px 25px 12px 30px;
  width:420px;
  text-align: center;
}

.box .content-5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.box .column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border: 1px solid;
  border-color: #000000;
}

.box .div-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .heading-3 {
  width: fit-content;
  font-size: var(--heading-h6-font-size);
  text-align: center;
  line-height: var(--heading-h6-line-height);
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: white;
  letter-spacing: var(--heading-h6-letter-spacing);
  font-style: var(--heading-h6-font-style);
}

.box .container-3 {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .price-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: white;
  font-size: var(--heading-h1-font-size);
  text-align: center;
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}

.box .price-3 {
  position: relative;
  width: fit-content;
  font-family: var(--heading-h4-font-family);
  font-weight: var(--heading-h4-font-weight);
  color: white;
  font-size: var(--heading-h4-font-size);
  text-align: center;
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  white-space: nowrap;
  font-style: var(--heading-h4-font-style);
}

.box .list-3 {
  flex-direction: column;
  gap: 16px;
  padding: 8px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.box .div-7 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.box .text-3 {
  width: fit-content;
  margin-top: -1px;
  font-size: var(--text-regular-normal-font-size);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: white;
  letter-spacing: var(--text-regular-normal-letter-spacing);
  font-style: var(--text-regular-normal-font-style);
}

.box .style-primary-small-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.box .column-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #000000;
}

.box .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 80px;
  padding: 80px 64px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.box .content-6 {
  display: flex;
  height: 248px;
  align-items: flex-start;
  gap: 128px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.box .newsletter {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.box .logo {
  position: relative;
  width: 63px;
  height: 27px;
}

.box .type-default {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid;
  border-color: #000000;
}

.box .text-wrapper-5 {
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: #000000;
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  flex: 1;
  font-style: var(--text-regular-normal-font-style);
}

.box .style-secondary-2 {
  width: 121px;
  margin-top: -1px;
  margin-right: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.box .by-subscribing-you {
  position: relative;
  align-self: stretch;
  font-family: var(--text-tiny-normal-font-family);
  font-weight: var(--text-tiny-normal-font-weight);
  color: white;
  font-size: var(--text-tiny-normal-font-size);
  letter-spacing: var(--text-tiny-normal-letter-spacing);
  line-height: var(--text-tiny-normal-line-height);
  font-style: var(--text-tiny-normal-font-style);
}

.box .links {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.box .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  font-weight: var(--text-regular-semi-bold-font-weight);
  color: white;
  font-size: var(--text-regular-semi-bold-font-size);
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  font-style: var(--text-regular-semi-bold-font-style);
}

.box .div-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .link {
  display: flex;
  align-items: flex-start;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .text-wrapper-7 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: white;
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  font-style: var(--text-small-normal-font-style);
}

.box .link-2 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: white;
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-small-normal-font-style);
}

.box .credits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
}

.box .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .element-relume-all {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: white;
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  font-style: var(--text-small-normal-font-style);
}

.box .footer-links {
  display: inline-flex;
  gap: 24px;
  margin-left: -227px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.box .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-small-link-font-family);
  font-weight: var(--text-small-link-font-weight);
  color: white;
  font-size: var(--text-small-link-font-size);
  letter-spacing: var(--text-small-link-letter-spacing);
  line-height: var(--text-small-link-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-style: var(--text-small-link-font-style);
}

.box .cookies-settings {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -1px;
  font-family: var(--text-small-link-font-family);
  font-weight: var(--text-small-link-font-weight);
  color: white;
  font-size: var(--text-small-link-font-size);
  letter-spacing: var(--text-small-link-letter-spacing);
  line-height: var(--text-small-link-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-style: var(--text-small-link-font-style);
}

.subheading-4 {
  align-self: stretch;
  font-weight: var(--text-medium-normal-font-weight);
  font-size: var(--text-medium-normal-font-size);
  text-align: center;
  line-height: var(--text-medium-normal-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--text-medium-normal-font-family);
  color: white;
  letter-spacing: var(--text-medium-normal-letter-spacing);
  font-style: var(--text-medium-normal-font-style);
}

.green {
  color: #21ce99;
  text-decoration: underline;
}

.black {
  color: black;
}

button{
  cursor: pointer;
}

@media (max-width: 800px) {
  .box .div{
    width: 100%;
  }
  
  .box .layout{
    padding: 20px 20px 20px 20px;
  }

  .box .container{
    width: 100%;
    padding: 0px;
    flex-direction: column;
  }

  .box .section-title,
  .box .section-title-2{
    width: 100%;
  }

  .box .column-3,
  .box .column-4, 
  .box .actions-2{
    width: 100%;
  }
  .actions-2 a{
    width: 40%;
    /* height: 100%; */
    height: 46px;
  }
  .actions-2 .button-2,
  .actions-2 .button-2-1,
  .actions-2 .button-learn-more{
    width: 100%;
    height: 100%;
  }
  .box .content-2{
    flex-direction: column;
  }
  .box .div-wrapper{
    padding: 20px 20px 20px 20px;
  }

  .box .container-2{
    flex-direction: column;
  }

  .box .layout{
    flex-direction: column;
  }

  .box .heading-2{
    width: 100%;
  }

  .box .row{
    flex-direction: column;
    gap:0px;
  }

  .box .column-6, .box .heading-4, 
  .box .heading-5, .box .heading-6{
    width: 100%;
  }

  .box .pricing{
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  

  .box .content-5{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

  }

  .box .heading,
  .box .heading-2{
    font-size: 36px;
  }

  .box .div-2{
    padding-bottom: 66px;
  }

  .box .div-4{
    padding-top:0px;
    padding-bottom: 0px;
  }

  .box .content-2{
    gap:0px;
  }

  .box .div-4 .container-2 a{
    display: none;
  }

  .box .list-2{
    padding-bottom: 66px;
  }

  .box .content-5{
    width: 100%;
  }

  .box .content-5 .button-learn-more-3{
    width: 110%;
  }

  .box .section-title-3,
  .box .content-3,
  .box .text-2{
    width: 100%;
    white-space: normal;
  }

  .box .text-wrapper-2{
    font-size: 36px;
  }

  .box .placeholder-image{
    width: 100vw;
  }





  
}

