<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/globals.css" />
    <link rel="stylesheet" href="static/css/styleguide.css" />
    <link rel="stylesheet" href="static/css/about_us.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartBettor</title>
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    <meta name="theme-color" content="var(--nav-bg-mobile)" />


  </head>
  <body>
    <div class="box background-image">
      <div class="about-us">
        {% include "marketing_header.html" %}
          <div class="div-wrapper">
            <div class="content-2">
              <div class="column-3">
                <div class="short-heading-here">AI-Powered Sports Betting</div>
              </div>
              <div class="div-2">
                <p class="lorem-ipsum-dolor">
                  We are on a mission to revolutionize sports betting with AI technology. Our advanced algorithms and
                  machine learning models analyze patterns and trends to identify the most favorable positive expected
                  value betting opportunities. With our expertise in statistics, math, and machine learning, we
                  outperform Vegas and other sites, like OddsJam.
                </p>
                <div class="actions-2">
                  <a href="/how_it_works"><button class="button-2-1">Learn More</button></a>
                  <a href="/#pricing"><button class="button">Sign Up</button></a>
                </div>
              </div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="container-2">
              <div class="div-2">
                <div class="div-3">
                  <div class="content-3">
                    <p class="heading">Transforming the Way Sports Betting Analytics Works</p>
                    <p class="text">
                      At our core, we are an AI company that leverages statistics, math, and machine learning to provide
                      professional sports bettors with statistically favorable betting opportunities. With our
                      cutting-edge technology, we outperform Vegas and other +EV sites, like OddsJam, ensuring that our
                      users stay ahead of the game.
                    </p>
                  </div>
                </div>
                <div class="actions-3">
                  <a href="/how_it_works"><button class="button-2-1">Learn More</button></a>
                    <a href="/#pricing"><button class="button">Sign Up</button></a>
                </div>
              </div>
              <img class="placeholder-image" src="static/images/magic_comp.gif" />
            </div>
            </div>
          
              {% include "marketing_footer.html" %}
          
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
