{% extends "header.html" %}

{% block title %}SmartBetter Home{% endblock %}

{% block content %}
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TP7V5FPZ');</script>
  <!-- End Google Tag Manager -->
<title>SmartBetter - Bet Tracker</title>
<link rel="icon" href="/static/images/favicon.png" type="image/png">

<link rel="stylesheet" href="static/css/bet_tracker.css">
</head>


<main>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP7V5FPZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Team</th>
          <th>If Win</th>
          <th>Average Odds</th>
          <th>Highest Odds</th>
        </tr>
      </thead>
      <tbody id="table-body">
      </tbody>
    </table>
  </div>
  </body>
</main>

<script src="static/js/unsettledBetTracker.js"></script>
{% endblock %}

