<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>{% block title %}Your Website{% endblock %}</title> -->
  <link rel="stylesheet" href="static/css/header.css">
  <link rel="icon" type="image/png" href="static/templates/SB_Favicon.png">


</head>
<body>
  <header>
    <a href="/home" class="navbar-brand w-nav-brand"><img src="static/images/Screenshot_2023-09-05_at_1.48.53_PM-removebg-preview.png" loading="lazy" alt="" class="image-10"></a>
        
    <nav>
      <ul>
        <!-- <li><a href="/make_strategy">Make Strategy</a></li> -->
        <li><a href="/information">Information</a></li>
        <li><a href="/live_dashboard">Live Dashboard</a></li>
        <li><a href="/bet_tracker">Bet Tracker</a></li>
        <li><a href="/login">Login</a></li>
        
      </ul>
    </nav>
  </header>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
