<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/globals.css" />
    <link rel="stylesheet" href="static/css/how_it_works_styleguide.css" />
    <meta name="theme-color" content="#041a13" />

    <link rel="stylesheet" href="static/css/how_it_works.css" />
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <title>SmartBettor</title>
    <link rel="icon" type="image/png" href="static/images/favicon.png">
 
  </head>
  <body>
    <div class="row-new">
      {% include "sidebar.html" %}
      
      <div class = "background-image">
        {% include "marketing_header.html" %}


        <div class="box">
        <div class="how-it-works">


        <div class="main-guy">
        
        <div class="div">
          <div class="div-2">
            <div class="content-2">
              <div class="column-3">
                <div class="short-heading-here">AI-Powered Betting Opportunities</div>
              </div>
              <div class="column-4">
                <p class="lorem-ipsum-dolor">
                  Unlock the power of AI to identify statistically favorable betting opportunities. Our proprietary
                  technology analyzes vast amounts of live odds data, and leverages statistics and machine learning to
                  outperform Vegas and other +EV sites, like OddsJam.
                </p>
                <div class="actions-2">
                  <a href="/product"><button class="button">Learn More</button></a>
                  <a href="/#pricing"><button class="button-2-1">Sign Up</button></a>
                </div>
              </div>
            </div>
          </div>
          <div class="div-2">
            <div class="container-2">
              <div class="content-3">
                <div class="div-3">
                  <p class="heading">Using statistics and machine learning models to manage your bankroll for you</p>
                  <p class="text">
                    Our machine learning model has been trained on millions of parameters including historical odds,
                    team performance, and other factors to identify winning patterns amongst positive expected value
                    betting opportunities.
                  </p>
                </div>
                <div class="list">
                  <div class="list-item">
                    <img class="icon-relume" src="static/images/box-bullet-point.svg" />
                    <p class="p">Every bet you&#39;ll see has a positive expected value return</p>
                  </div>
                  <div class="list-item">
                    <img class="icon-relume" src="static/images/box-bullet-point.svg" />
                    <p class="p">
                      Every bet you&#39;ll see has been identified by our proprietary machine learning model, which has
                      been trained on millions of observations
                    </p>
                  </div>
                  <div class="list-item">
                    <img class="icon-relume" src="static/images/box-bullet-point.svg" />
                    <p class="p">
                      Every bet you&#39;ll see has been assigned a dynamic bet size tailored to your personal bankroll
                      to optimize for bankroll growth
                    </p>
                  </div>
                </div>
              </div>
              <img class="placeholder-image" src="static/images/Phone_How-it-works.gif" />
            </div>
          </div>
          <div class="layout">
            <p class="heading-2">Step 1: Odds Data Collection from 20+ Sportsbooks</p>
            <div class="row">
              <div class="column-5">
                <div class="content-4">
                  <div class="div-3">
                    <p class="heading-3">Step 2: Finding Positive EV&nbsp;&nbsp;Betting Opportunities</p>
                    <p class="text-2">
                      Our AI aggregates data from multiple sportsbooks in order to identify
                      statistically favorable opportunities (+EV.)
                    </p>
                  </div>
                </div>
                <div class="action">
                  <div class="style-link-small">
                    <a href="/product"><button class="button-learn-more">Learn More</button></a>
                  </div>
                </div>
              </div>
              <div class="column-5">
                <div class="content-4">
                  <div class="div-3">
                    <p class="heading-3">Step 3: Applying Machine Learning&nbsp;&nbsp;Models</p>
                    <p class="text-2">
                      Using machine learning, our model analyzes the +EV betting opportunities and predicts the
                      probability of success.
                    </p>
                  </div>
                </div>
                <div class="action">
                  <a href="/#pricing"><button class="button-learn-more">Sign Up</button></a>
                </div>
              </div>
              <div class="column-5">
                <div class="content-4">
                  <div class="div-3">
                    <p class="heading-3">Step 4: Recommending Betting Opportunities</p>
                    <p class="text-2">
                      Based on the analysis, our model provides smart bet sizes to maximize your bankroll growth and
                      minimize losses.
                    </p>
                  </div>
                </div>
                <div class="action">
                  <a href="/#pricing"><button class="button-learn-more">Get Started</button></a>
                </div>
              </div>
            </div>
          </div>
          <div class="CTA">
            <div class="column-6">
              <div class="content-4">
                <div class="heading-4">
                  <div class="heading-5">Start Winning Now</div>
                  <div class="heading-6">Unlock Your Potential</div>
                </div>
                <p class="text-3">
                  Discover statistically favorable sports betting opportunities and supercharge your bankroll to
                  maximize your winnings.
                </p>
              </div>
              <div class="actions-2">
                <a hred="/#pricing"><button class="button-wrapper"><button class="button-2-1">Sign Up</button></button></a>
                <a href="/product"><button class="button-learn-more">Learn More</button></a>
              </div>
            </div>
        </div>

          {% include "marketing_footer.html" %}


          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
