{% extends "header.html" %}

{% block title %}SmartBetter Home{% endblock %}

{% block content %}

<title>SmartBetter - Live Dash</title>
<link rel="stylesheet" href="static/css/live_dashboard.css">

<html>
  <body>

<main>
  <div class="container">
    <h2>SmartBetter-Approved +EV Bets</h2>
    <p>Bets that our model has predicted are high-quality +EV bets. These are weighted in your favor so that you always win in the long run</p>
    <button id="fetch-button">Update Table</button>
    <table id="data-table" class="rounded-table">
      <thead>
        <tr>
          <th data-label="Expected Value">% +EV</th>
          <th data-label="Moneyline Bet">Moneyline Bet</th>
          <th data-label="Odds">Odds to take</th>
          <th data-label="Sportsbook">Sportsbooks with odds</th>
          <th data-label="Game Date">Game date</th>
          <th data-label="Time Updated">Time since update</th>
          <th data-label="Add to Betslip">Add To Betslip</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/js/liveDashboard.js"></script>


</body>
</html>


{% endblock %}
