<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/globals.css" />
    <link rel="stylesheet" href="static/css/styleguide.css" />
    <link rel="stylesheet" href="static/css/marketing_header.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/js/marketing_header.js"></script>
  </head>
<div class="navbar-mh">
  <div class="container-mh">
    <div class="logo-container">
    <a href="/"><img class="content-mh top-left-logo-mh" src="static/images/sidebar_logo.png" /></a>
    <img class="down-arrow" src="static/images/chevron-down.svg" />
    </div>

    <div class="column-mh">
      <div class="div-mh">
        <div class="text-wrapper-mh"><a href="/about">About Us</a></div>
        <div class="text-wrapper-mh"><a href="/how_it_works">How it Works</a></div>
        <div class="text-wrapper-mh"><a href="/product">Product</div></a>
        <div class="text-wrapper-mh"><a href="/#pricing">Pricing</a></div>
        <div class="text-wrapper-mh"><a href="/blogs">Blogs</a></div>
        <div class="text-wrapper-mh"><a href="/career">Careers</a></div>
      </div>
      <div class="actions-mh">
        <a href="/#pricing"><button class="button-sign-up-mh scroll-link" >Sign Up</button></a>
        <a href="/login"><button class="style-primary-small-mh"><button class="button-log-in-mh">Login</button></button></a>
      </div>
    </div>
  </div>
</div>

