<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/globals.css" />
    <link rel="stylesheet" href="static/css/styleguide.css" />
    <link rel="stylesheet" href="static/css/marketing_footer.css" />
  </head>
<div class="footer-mf">

  <div class="content-11-mf">

    <div class="links-mf">

      <div class="div-5-mf">

        <div class="text-wrapper-7-mf">About Us</div>
        
        <div class="div-9-mf">

          <div class="link-mf"><div class="text-wrapper-8"><a href="/about">About Us</a></div></div>
          <div class="link-mf"><div class="text-wrapper-8"><a href="/how_it_works">How it Works</a></div></div>
          <div class="link-mf"><div class="text-wrapper-8"><a href="/product">Product</a></div></div>
          <!-- <div class="link-mf"><div class="text-wrapper-8"><a href="/blog">Blog</a></div></div> -->
          <!-- <div class="link-mf"><div class="text-wrapper-8"><a href="/careers">Careers</a></div></div> -->
        </div>
      </div>
      <div class="div-5-mf right-mf">
        <div class="text-wrapper-7-mf">Follow us</div>
        <div class="div-9-mf">
          <div class="link-2-mf">
            <a href="https://www.tiktok.com/@smartbettor.ai" target="_blank"><img class="img-mf" src="static/images/tik-tok.svg" /></a>
            <div class="text-wrapper-9-mf">TikTok</div>
          </div>
          <div class="link-2-mf">
            <a href="https://www.instagram.com/smartbettor.ai/?hl=en" target="_blank">
            <img class="img-mf" src="static/images/instagram.svg" /></a>
            <div class="text-wrapper-9-mf">Instagram</div>
          </div>
          <div class="link-2-mf">
            <a href="https://twitter.com/smartbettorai?lang=en" target="_blank">
            <img class="img-mf" src="static/images/twitter.svg" /></a>
            <div class="text-wrapper-9-mf">X</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-6-mf">
    <div class="row-mf">
        <p>© 2023 SmartBettor. All rights reserved.</p>
        <div class = "links">
            <a href="static/documents/privacy-1.pdf" target="_blank"><div class="text-wrapper-10-mf">Privacy Policy</div></a>
            <a href="static/documents/terms-1.pdf" target="_blank"><div class="text-wrapper-10-mf">Terms of Service</div></a>
          </div>

        </div>

        <div class = "row-mf">
        <br /><br />This site is 100% for entertainment purposes only and
        does not involve real money betting. If you or someone you know has a gambling problem and wants help,
        call 1-800 GAMBLER. This service is intended for <br />adult users&nbsp;&nbsp;21+ years of age only.<br />*Historical
        results do not indicate or guarantee future results.
      </p></div>
      
    </div>
  </div>
</div>