{% extends "header.html" %}

<!-- {% block title %}SmartBetter Home{% endblock %} -->

{% block content %}

<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TP7V5FPZ');</script>
  <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <title>SmartBettor - Live Dash</title>
    <link rel="stylesheet" href="static/css/live_dashboard.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP7V5FPZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<main>
  <div class="container">
    <h1 class="live-bets-header">Live Bets <span class="gradient-text">MLB</span></h1>
      
    <p>These are bets that our model has identified and predicted with high confidence. They are weighted in your favor so that you win in the long run</p>
    <p id ='bankroll'>Bankroll: $</p>
    <button id="fetch-button">Update Table</button>
    <button id="add-to-bankroll" class = "live-button" button onclick="addToBankroll(this)">Add to bankroll</button>
    
    <table id="data-table" class="rounded-table">
      <thead>
        <tr>
          <th data-label="Moneyline Bet">Team to bet on</th>
          <th data-label="Sportsbook">Sportsbook(s)</th>
          <th data-label="betsize">Recommended Bet Size</th>
          <th data-label="Odds">Odds to take</th>
          <th data-label="Expected Value">% +EV</th>
          <th data-label="Game Date">Game date</th>
          <th data-label="Time Updated">Time since update</th>
          <th data-label="Add to Bet Tracker">Add to Bet Tracker</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/js/liveDashboard.js"></script>


</body>

</html>


{% endblock %}
