{% extends "header.html" %}

<!-- {% block title %}SmartBetter Home{% endblock %} -->

{% block content %}

<html>
<head>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "iupwbeu4os");
    </script>
    <meta charset="utf-8">
    <title>SmartBettor - NFL</title>
    <link rel="stylesheet" href="static/css/live_dashboard.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    <!-- <link href="static/css/betsmartr.webflow.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
<main>
  <div class="container">
    <h1 class="live-bets-header">Live Bets <span class="gradient-text">NFL</span></h1>

    <p>These are bets that our model has identified and predicted with high confidence. They are weighted in your favor so that you win in the long run</p>
    <p id ='bankroll'>Bankroll: $</p>
    <button id="fetch-button">Update Table</button>
    <button id="add-to-bankroll" class = "live-button" button onclick="addToBankroll(this)">Add to bankroll</button>
    
    <table id="data-table" class="rounded-table">
      <thead>
        <tr>
          <th data-label="Moneyline Bet">Team to bet on</th>
          <th data-label="Sportsbook">Sportsbook(s)</th>
          <th data-label="betsize">Recommended bet size ($)</th>
          <th data-label="Odds">Odds to take</th>
          <th data-label="Expected Value">% +EV</th>
          <th data-label="Game Date">Game date</th>
          <th data-label="Time Updated">Time since update</th>
          <th data-label="Add to Bet Tracker">Add to bet tracker</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/js/liveNFLDashboard.js"></script>


</body>
</html>


{% endblock %}
