<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/globals.css" />
    <link rel="stylesheet" href="static/css/styleguide.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/products.css" />
    <title>SmartBettor</title>
    <link rel="icon" type="image/png" href="static/images/favicon.png">
  </head>
  <body>
    <div class="box">
      <div class="products">
        <div class="div">
          {% include "marketing_header.html" %}
          <div class="layout">
            <div class="container">
              <img class="placeholder-image" src="static/images/5-Phones.gif" />
              <div class="div-2">
                <div class="content">
                  <p class="heading">Discover What Sets Us Apart from Competitors</p>
                  <p class="text">
                    Our product offers a revolutionary feature that gives professional sports bettors a significant
                    edge.
                  </p>
                </div>
                <div class="list">
                  <div class="div-3">
                    <p class="text-wrapper">Increased Hit Rate &amp; Smart Bet Sizing</p>
                    <p class="p">
                      Our machine learning model analyzes positive EV betting opportunities to assign a probability of
                      success, and creates a dynamic bet size accordingly, tailored to your personal bankroll and recent
                      results.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-4">
            <div class="container">
              <div class="column">
                <div class="content">
                  <div class="text-wrapper-2">Get the Winning Edge</div>
                  <p class="text">Unlock profitable sports betting opportunities with our AI-powered platform.</p>
                </div>
                <div class="actions">
                  <a class = "black" href="{{ url_for('create_checkout_session_non_recurring', price_id='price_1NqjvgHM5Jv8uc5M1ePpqOgy') }}"><button class="button-2-1">Try</button></a>
                  <a href="/#pricing"><button class="button-learn-more">Buy</button></a>
                </div>
              </div>
              <img class="img" class="placeholder-image" src="static/images/Logo-Animateloop.gif" />
            </div>
          </div>
          <div class="div-4">
            <div class="section-title">
              <div class="text-wrapper-2">Happy Customers</div>
              <p class="text">Hear what our customers have to say about our products</p>
            </div>
            <div class="content-2">
              <div class="div-2">
                <img class="stars" src="static/images/stars-2.svg" />
                <p class="quote">
                  Our products have revolutionized my sports betting strategy. I&#39;ve never seen such accurate
                  predictions before.
                </p>
              </div>
              <div class="div-2">
                <img class="stars" src="static/images/stars-2.svg" />
                <p class="quote">I can&#39;t imagine placing bets without this AI tool. It&#39;s a game-changer!</p>
              </div>
            </div>
          </div>
          <div class="div-4">
            <div class="container-2">
              <div class="section-title-2">
                <div class="content">
                  <div class="text-wrapper-2">Frequently Asked Questions</div>
                  <p class="text">
                    Find answers to common questions about our products and how they can be used for sports betting.
                  </p>
                </div>
                <a href="/#"><button class="button-learn-more">Sign Up</button></a>
              </div>
              <div class="list-2">
                <div class="div-5">
                  <div class="question">How does it work?</div>
                  <p class="p">
                    Our AI-powered tool leverages statistics and machine learning to identify favorable sports betting
                    opportunities. Our model outputs only +EV bets that it finds with a high probability of success, and
                    then generates an optimized bet size based on your bankroll and recent performance.
                  </p>
                </div>
                <div class="div-5">
                  <div class="question">Is it accurate?</div>
                  <p class="p">
                    Yes, our model has a historical hit rate of over 50%, and a 9.3% Return on Money due to its advanced
                    algorithms and proprietary smart bet sizing. However, it&#39;s important to note that sports betting
                    always carries some level of risk, and historical performance does not guarantee future results.
                  </p>
                </div>
                <div class="div-5">
                  <p class="question">How can I access it?</p>
                  <p class="p">
                    To sign up for our tool, simply click &#34;Sign Up&#34; above and follow the registration process.
                    Registration takes 60-seconds -- then you&#39;ll gain access to our powerful sports betting analysis
                    tool.
                  </p>
                </div>
                <div class="div-5">
                  <div class="question">Can I cancel anytime?</div>
                  <p class="p">
                    Yes, you can cancel your subscription at any time without any additional fees, commitments, or
                    penalties.
                  </p>
                </div>
                <div class="div-5">
                  <div class="question">Is it legal?</div>
                  <p class="p">
                    Our tool solely provides information and insights to sports bettors. The legality of sports betting
                    varies by jurisdiction, so it&#39;s essential to comply with local laws and regulations. This
                    service is intended for adult users ages 21+ or older.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing">
            <div class="content-3">
              <div class="section-title-3">
                <div class="content-4">
                  <div class="heading-2">Pricing Options</div>
                  <p class="text-2">Choose the plan that suits your needs and budget</p>
                </div>
              </div>
              
            </div>
            <div class="content-5">
              <div class="column-2">
                <div class="div-6">
                  <div class="price">
                    <div class="heading-3">Standard</div>
                    <div class="container-3">
                      <div class="price-2">$99/mo</div>
                      <div class="price-3"></div>
                    </div>
                  </div>
                  <div class="list-3">
                    <div class="div-7">
                      <img class="img-2" src="static/images/check.svg" />
                      <div class="text-wrapper-4">Positive EV bets</div>
                    </div>
                    <div class="div-7">
                      <img class="img-2" src="static/images/check.svg" />
                      <div class="text-wrapper-4">Dynamic optimized bet sizing</div>
                    </div>
                    <div class="div-7">
                      <img class="img-2" src="static/images/check.svg" />
                      <p class="text-3">NFL, NBA, NHL, MLB, CFB (coming soon)<br />moneyline bets</p>
                    </div>
                  </div>
                </div>
                <a href="{{ url_for('create_checkout_session', price_id='price_1OG9CDHM5Jv8uc5MTtdQOZMv') }}">
                  <button class="style-primary-small-2"><button class="button-learn-more-3">Get Started</button></button>
                </a>
              </div>
              <div class="column-3">
                <div class="div-6">
                  <div class="price">
                    <div class="heading-3">Premium</div>
                    <div class="container-3">
                      <div class="price-2">$199/mo</div>
                      <div class="price-3"></div>
                    </div>
                  </div>
                  <div class="list-3">
                    <div class="div-7">
                      <img class="img-2" src="static/images/check.svg" />
                      <div class="text-wrapper-4">Positive EV betting opportunities</div>
                    </div>
                    <div class="div-7">
                      <img class="img-2" src="static/images/check.svg" />
                      <div class="text-wrapper-4">Dynamic smart bet sizing</div>
                    </div>
                    <div class="div-7">
                      <img class="img-2" src="static/images/check.svg" />
                      <p class="text-3">NFL, NBA, NHL, MLB, CFB (coming soon)<br />moneyline bets</p>
                    </div>
                    <div class="div-7">
                      <img class="img-2" src="static/images/check.svg" />
                      <div class="text-wrapper-4">Text alerts (coming soon)</div>
                    </div>
                    <div class="div-7">
                      <img class="img-2" src="static/images/check.svg" />
                      <p class="text-3">Player props, totals, spreads, arbitrage<br />(all coming soon)</p>
                    </div>
                  </div>
                </div>
                <a href="{{ url_for('create_checkout_session', price_id='price_1OG9DhHM5Jv8uc5MfiE2UdHR') }}">
                  <button class="style-primary-small-2"><button class="button-learn-more-3">Get Started</button></button>
                </a>
                
                </div>
                
              </div>
              <div class="section-title">
                <p class="subheading-4">Not ready yet? <a class="green" href="{{ url_for('create_checkout_session_non_recurring', price_id='price_1NqjvgHM5Jv8uc5M1ePpqOgy') }}">Start a 7 day free trial.</a> Cancel anytime.</p>
                <div class="content-8"></div>
              
            </div>

          
          </div>
    {% include "marketing_footer.html" %}


        </div>
      </div>
    </div>
  </body>
</html>
