{% extends "header.html" %}

{% block title %}Your Website - Profile{% endblock %}

{% block content %}

<link rel="stylesheet" href="static/css/profile.css">

<html>
  <body>

<main>
  <div class="container">
    <h2>Profile</h2>
    <button id="fetch-button">Update Table</button>
    
    <div class="container-2">

      <div class="graph-container">
          <div class="graph-div" id="graph"></div>
      </div>
      <div class="info-container">
          <div class="graph-info-div" id="overall-info-box">
            <div class="tab info" id="graph-info-tab">Graph Information</div>
            <div class="tab info" id="day-info-tab">Individual Day Information</div>
            <ul class="info-list" id="info-list">
              <li><strong>Total P/L:</strong> <span id="total-pl"></span></li>
              <li><strong>Worst Day:</strong> <span id="worst-day"></span></li>
              <li><strong>Best Day:</strong> <span id="best-day"></span></li>
              <li><strong>Win Rate:</strong> <span id="precision"></span></li>
              <li><strong>Total Bets Placed:</strong> <span id="total-bets-placed"></span></li>
              <li><strong>Return on Money:</strong> <span id="return-on-money"></span></li>
            </ul>
            <ul id="day-info-list" style="display: none;" class="info-list">
            </ul>
            <div class="text-me-div">
</div>
</main>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/js/graphDisplayer.js"></script>


</body>
</html>

{% endblock %}
