
{% block content %}
<head>
  <script>
    !function (w, d, t) {
      w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};

      ttq.load('CLGKSSJC77U4D7KCHNB0');
      ttq.page();
    }(window, document, 'ttq');
    </script>
      <script type="text/javascript" src="static/js/jquery.3.6.0.js"></script>
      <script type="text/javascript" src="static/js/register.js"></script>

</head>



<script src="https://cdn.tailwindcss.com"></script>

<script src="https://cdn.tailwindcss.com"></script>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="static/images/Bet-Smartr-logo-only-preview.png" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"> Register For Access</h2>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"> Please use the same email you provided in the stripe checkout</h2><h2 id="TEST-BUTTON">TEST ME</h2>

  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form id="registration-form" class="space-y-6" method="POST" action="/register">
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">First Name</label>
        <input type="text" id="first-name" name="first_name" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('first_name', '') }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Last Name</label>
        <input type="text" id="last-name" name="last_name" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('first_name', '') }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Email</label>
        <input type="email" id="email" name="email" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Password</label>
        <input type="password" id="password" name="password" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data['password'] }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('phone_number', '') }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Phone Number</label>
        <input type="tel" id="phone_number" name="phone_number" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('phone_number', '') }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Bankroll (For Personalized Bet Sizing)</label>
        <input type="tel" id="bankroll" name="bankroll" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('bankroll', '') }}" required>
      </div>
      <div>
        <button class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 pl-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"style="background-color: #21ce99 !important;" id ="register-button">Register</button>
      </div>
    </form>
    <p class="mt-10 text-center text-sm text-gray-500">
      Already have an account?
      <a href="/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"style="color: #21ce99 !important;">Login</a>
    </p>
  </div>
  {% include "footer.html" %}
</div>

{% endblock %}

