
{% block content %}
<head>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-9GH410L98G');
  </script>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "iupwbeu4os");
    </script>
  <title>SmartBettor - Registration</title>
  <link rel="icon" type="image/png" href="static/images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1034749940909646');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1034749940909646&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->

</head>



<script src="https://cdn.tailwindcss.com"></script>

<script src="https://cdn.tailwindcss.com"></script>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="static/images/Bet-Smartr-logo-only-preview.png" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"> Register For Access</h2>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"> Please use the same email you provided in the stripe checkout</h2>

  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form id="registration-form" class="space-y-6" method="POST" action="/register">
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">First Name</label>
        <input type="text" id="first-name" name="first_name" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('first_name', '') }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Last Name</label>
        <input type="text" id="last-name" name="last_name" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('first_name', '') }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Email</label>
        <input type="email" id="email" name="email" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Password</label>
        <input type="password" id="password" name="password" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data['password'] }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('phone_number', '') }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Phone Number</label>
        <input type="tel" id="phone_number" name="phone_number" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('phone_number', '') }}" required>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-4">Bankroll (For Personalized Bet Sizing)</label>
        <input type="tel" id="bankroll" name="bankroll" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ form_data.get('bankroll', '') }}" required>
      </div>
      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 pl-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"style="background-color: #21ce99 !important;">Register</button>
      </div>
    </form>
    <p class="mt-10 text-center text-sm text-gray-500">
      Already have an account?
      <a href="/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"style="color: #21ce99 !important;">Login</a>
    </p>
  </div>
</div>

{% endblock %}

