<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="static/css/scenarios_dev.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>

</style>
</head>
<body>
<div class="gradient-text">
  <h2>Scenario Creation</h2>
  <p>Use the tool to select options that craft your scenario</p>
</div>
  
<div class="flex-container">
  <div class="dropdown">
    <h5>Sport</h5>
    <button class="btn" type="button" data-toggle="dropdown" data-label="sport" data-value="default">All
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up sport" tabindex="-1" data-label="sport" data-value="NFL">NFL</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up sport" tabindex="-1" data-label="sport" data-value="MLB">MLB</a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <h5 data-sport="NFL" style="display: none;">NFL Conference</h5>
    <button class="btn" type="button" data-toggle="dropdown" data-label="team_1_division" data-value="default" data-sport="NFL" style="display: none;">Both
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_division" data-value="AFC" data-sport="NFL">AFC</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_division" data-value="NFC" data-sport="NFL">NFC</a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <h5 data-sport="MLB" style="display: none;">MLB Conference</h5>
    <button class="btn" type="button" data-toggle="dropdown" data-label="team_1_division" data-value="default" data-sport="MLB" style="display: none;">Both
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_division" data-value="AL" data-sport="MLB">American League</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_division" data-value="NL" data-sport="MLB">National League</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <h5 data-sport="NFL" style="display: none;">NFL Division</h5>
    <button class="btn" type="button" data-toggle="dropdown" data-label="team_1_conference" data-value="default" data-sport="NFL" style="display: none;">All
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="East" data-sport="NFL">East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="West" data-sport="NFL">West</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="North" data-sport="NFL">North</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="South" data-sport="NFL">South</a>
      </li>
      
    </ul>
  </div>
  <div class="dropdown">
    <h5 data-sport="MLB" style="display: none;">MLB Division</h5>
    <button class="btn" type="button" data-toggle="dropdown" data-label="team_1_conference"  data-value="default"  data-sport="MLB" style="display: none;">All
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="East"  data-sport="MLB">NL East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-sport="MLB" data-label="team_1_conference"  data-value="West" >NL West</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" data-sport="MLB" data-label="team_1_conference"  data-value="Central" >NL Central</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1"  data-label="team_1_conference"  data-value="East" data-sport="MLB">AL East</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="West"  data-sport="MLB">AL West</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="Central"  data-sport="MLB">AL Central</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <h5>NFL Team</h5>
    <button class="btn" type="button" data-toggle="dropdown">All
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Arizona Cardinals</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Atlanta Falcons<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Carolina Panthers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Chicago Bears<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Dallas Cowboys</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Detroit Lions<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Green Bay Packers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Los Angeles Rams<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Minnesota Vikings</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">New Orleans Saints<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">New York Giants</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Philadelphia Eagles<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">San Francisco 49ers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Seattle Seahawks<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Tampa Bay Buccaneers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Washington Commanders<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Baltimore Ravens</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Buffalo Bills<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Cincinnati Bengals</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Cleveland Browns<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Denver Broncos</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Houston Texans<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Indianapolis Colts</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Jacksonville Jaguars<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Kansas City Chiefs</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Las Vegas Raiders<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Los Angeles Chargers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Miami Dolphins<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">New England Patriots</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">New York Jets<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Pittsburgh Steelers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Tennessee Titans<span"></span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <h5>MLB Team</h5>
    <button class="btn" type="button" data-toggle="dropdown">All
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Arizona Diamondbacks</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Atlanta Braves<span"></span></a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Baltimore Orioles<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Boston Red Sox</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Chicago White Sox<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Chicago Cubs</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Cincinnati Reds<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Cleveland Guardians</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Colorado Rockies<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Detroit Tigers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Houston Astros<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Kansas City Royals</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Los Angeles Angels<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Los Angeles Dodgers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Miami Marlins<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Milwaukee Brewers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">New York Mets<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Minnesota Twins</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">New York Yankees<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Oakland Athletics</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Philadelphia Phillies<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Pittsburgh Pirates</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">San Diego Padres<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">San Francisco Giants</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Seattle Mariners<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">St. Louis Cardinals</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Tampa Bay Rays<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Texas Rangers</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Toronto Blue Jays<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Washington Nationals</a>
      </li>
    </ul>
  </div>


  <div class="dropdown">
    <h5>Day or Night</h5>
    <button class="btn" type="button" data-toggle="dropdown" data-label="day_night" data-value="default" >Both
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="day_night" data-value="d" >Day</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_night" data-value="n" >Night</a>
      </li>
    </ul>
  </div>


  <div class="dropdown">
    <h5>Day of Week</h5>
    <button class="btn" type="button" data-toggle="dropdown" data-label="day_of_week" data-value="default" >Any
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Mon">Monday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Tue">Tuesday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Wed">Wenesday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Thu">Thursday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Fri">Friday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Sat">Saturday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Sun">Sunday</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <h5>Pregame Favorites?</h5>
    <button class="btn" type="button" data-toggle="dropdown" data-label="pregame_favorites" data-value="default">Yes or No
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="pregame_favorites" data-value="1">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="pregame_favorites" data-value="0">No</a>
      </li>
    </ul>
  </div>


  <!-- CUSTOM USE CASES -->
  <div class="dropdown">
    <h5>Winning Streak Home Team</h5>
    <button class="btn" type="button" data-toggle="dropdown">No Specification
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">No</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
    <div id="customButton" style="display: none;">
      <input type="text" id="customText" placeholder="Enter custom text">
      <button id="submitCustom">Submit</button>
    </div>
  </div>


  <div class="dropdown">
    <h5>Winning Streak Away Team</h5>
    <button class="btn" type="button" data-toggle="dropdown">No Specification
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">No</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
    <div id="customButton" style="display: none;">
      <input type="text" id="customText" placeholder="Enter custom text">
      <button id="submitCustom">Submit</button>
    </div> 
  </div>


  <div class="dropdown">
    <h5>Odds of Winning Team (+/-)</h5>
    <button class="btn" type="button" data-toggle="dropdown">No Specification
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">+</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">-</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
 
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>
</div>

  <div class="dropdown">
    <h5>Record Against Opponent (Put in form Wins-Losses)</h5>
    <button class="btn" type="button" data-toggle="dropdown">No Specification
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Winning</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Losing</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Tied</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>
</div>

  <div class="dropdown">
    <h5>Record Over Last 10 Games (Put in form Wins-Losses)</h5>
    <button class="btn" type="button" data-toggle="dropdown">No Specification
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Winning</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Losing</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Even</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>
</div>
</div> 

<button class="btn" type="button" id="goButton">Go
  
  <div id="chart"></div>



<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
<script src="static/js/scenarios.js"></script>


</body>
</html>
