<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="static/css/scenarios_dev.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>

</style>
</head>
<body>
  <h2>Scenario Creation</h2>
  <p>Use the tool to select options that craft your scenario</p>
  
<div class="flex-container">
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Sport
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NFL</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NBA<span"></span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">NFL Conference
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">AFC</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NFC<span"></span></a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">MLB Conference
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">American League</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">National League<span"></span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">NFL Division
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">AFC East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AFC West<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">AFC North</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AFC South<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NFC East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NFC West<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NFC East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NFC West<span"></span></a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">MLB Division
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NL West<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL Central</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL East<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">AL West</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL Central<span"></span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">NFL Team
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NL West<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL Central</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL East<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">AL West</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL Central<span"></span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">MLB Team
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NL West<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL Central</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL East<span"></span></a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">AL West</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL Central<span"></span></a>
      </li>
    </ul>
  </div>


  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Home or Away
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Home</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Away<span"></span></a>
      </li>
    </ul>
  </div>


  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Day or Night
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Day</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Night<span"></span></a>
      </li>
    </ul>
  </div>


  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Day of Week
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Monday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Tuesday<span"></span></a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Wenesday<span"></span></a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Thursday<span"></span></a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Friday<span"></span></a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Saturday<span"></span></a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Sunday<span"></span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Pregame Favorites?
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">No<span"></span></a>
      </li>
    </ul>
  </div>


  <!-- CUSTOM USE CASES -->
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Winning Streak Home Team
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">No</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>


  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Winning Streak Away Team
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">No</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Odds of Winning Team (+/-)
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">+</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">-</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Record Against Opponent (Put in form Wins-Losses)
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Winning</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Losing</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Tied</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Record Over Last 10 Games (Put in form Wins-Losses)
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Winning</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Losing</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Even</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>
</div>


  
  <div id="chart"></div>



<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
<script src="static/js/scenarios.js"></script>


</body>
</html>