<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="static/css/scenarios_dev.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>

</style>
</head>
<body>
  <h2>Scenario Creation</h2>
  <p>Use the tool to select options that craft your scenario</p>
  
<div class="flex-container">
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="sport" data-value="default">Sport
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up sport" tabindex="-1" data-label="sport" data-value="NFL">NFL</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up sport" tabindex="-1" data-label="sport" data-value="MLB">MLB</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="team_1_division" data-value="default" data-sport="NFL" style="display: none;">NFL Conference
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_division" data-value="AFC" data-sport="NFL">AFC</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_division" data-value="NFC" data-sport="NFL">NFC</a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="team_1_division" data-value="default" data-sport="MLB" style="display: none;">MLB Conference
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_division" data-value="AL" data-sport="MLB">American League</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_division" data-value="NL" data-sport="MLB">National League</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="team_1_conference" data-value="default" data-sport="NFL" style="display: none;">NFL Division
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="East" data-sport="NFL">East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="West" data-sport="NFL">West</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="North" data-sport="NFL">North</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="South" data-sport="NFL">South</a>
      </li>
      
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="team_1_conference"  data-value="default"  data-sport="MLB" style="display: none;">MLB Division
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="East"  data-sport="MLB">NL East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-sport="MLB" data-label="team_1_conference"  data-value="West" >NL West</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" data-sport="MLB" data-label="team_1_conference"  data-value="Central" >NL Central</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1"  data-label="team_1_conference"  data-value="East" data-sport="MLB">AL East</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="West"  data-sport="MLB">AL West</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="team_1_conference"  data-value="Central"  data-sport="MLB">AL Central</a>
      </li>
    </ul>
  </div>

  <!-- <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">NFL Team
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NL West</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL Central</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL East</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">AL West</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL Central</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">MLB Team
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL East</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">NL West</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">NL Central</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL East</a>
      </li>
      <li >        
        <a class="toggle_up" tabindex="-1" href="#">AL West</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">AL Central</a>
      </li>
    </ul>
  </div> -->


  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="home_away" data-value="default" >Home or Away
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="home_away" data-value="1">Home</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="home_away" data-value="0" >Away</a>
      </li>
    </ul>
  </div>


  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="day_night" data-value="default" >Day or Night
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="day_night" data-value="d" >Day</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_night" data-value="n" >Night</a>
      </li>
    </ul>
  </div>


  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="day_of_week" data-value="default" >Day of Week
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Mon">Monday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Tue">Tuesday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Wed">Wenesday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Thu">Thursday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Fri">Friday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Sat">Saturday</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="day_of_week" data-value="Sun">Sunday</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" data-label="pregame_favorites" data-value="default">Pregame Favorites?
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li >        
        <a class="toggle_up" tabindex="-1" data-label="pregame_favorites" data-value="1">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" data-label="pregame_favorites" data-value="0">No</a>
      </li>
    </ul>
  </div>


  <!-- CUSTOM USE CASES -->
  <!-- <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Winning Streak Home Team
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">No</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>


  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Winning Streak Away Team
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Yes</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">No</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div> -->
<!-- 
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Odds of Winning Team (+/-)
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">+</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">-</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Record Against Opponent (Put in form Wins-Losses)
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Winning</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Losing</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Tied</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>

  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown">Record Over Last 10 Games (Put in form Wins-Losses)
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Winning</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Losing</a>
      </li>
      <li class="dropdown-submenu">
        <a class="toggle_up" tabindex="-1" href="#">Even</a>
      </li>
      <li>
        <a class="toggle_up" tabindex="-1" href="#">Custom</a>
      </li>
    </ul>
  </div>
  <div id="customButton" style="display: none;">
    <input type="text" id="customText" placeholder="Enter custom text">
    <button id="submitCustom">Submit</button>
  </div>
</div> -->

<button class="btn" type="button" id="goButton">Go
  
  <div id="chart"></div>



<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
<script src="static/js/scenarios.js"></script>


</body>
</html>