{% block content %}

<script src="https://cdn.tailwindcss.com"></script>

<head>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-9GH410L98G');
  </script>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "iupwbeu4os");
    </script>
  <link rel="icon" type="image/png" href="static/images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>SmartBettor -- Login</title>


<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '388817483493656');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=388817483493656&ev=PageView&noscript=1"
  /></noscript>
  <meta name="theme-color" content="var(--nav-bg-mobile)" />
  <!-- End Meta Pixel Code -->
</head>
<body>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto" src="static/images/1.png" alt="Your Company" width="100" height="auto">
    <h2 class="mt-1 text-center text-2xl leading-9 tracking-tight text-gray-900">Enter New Password For {{username}}</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form id="registration-form" class="space-y-6" method="POST" action="" onsubmit="updateAction()">
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        <input type="text" id="password" name="password" class="block w-full rounded-md border border-green-300 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="{{ request.form.get('password', '') }}"required>
      </div>
      
      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"style="background-color: #21ce99 !important;">Reset Password</button>
      </div>
    </form>
    
  </div>
  <script>
    function updateAction() {
      const passwordInput = document.getElementById('password');
      const form = document.getElementById('registration-form');
      const password = passwordInput.value;

      form.action = `/set_new_password_db/{{ username }}/${password}`;
    }
  </script>

</div>
{% include "footer.html" %}

</body>


{% endblock %}




