<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<div id="dropdown-container">
  <span id="selected-option"></span>

  <!-- Dropdown button -->
  <button id="show-dropdown-btn">&darr;</button>

  <!-- Dropdown options (hidden by default) -->
  <ul id="dropdown-options" style="display: none;">
    <li class = "dropdown" data-value="Fanduel">
      <span>Barstool</span>
      <img src = "/static/images/barstool.webp" alt = "Barstool" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Betonlineag">
      <span>Betonlineag</span>
      <img src = "/static/images/betonlineag.webp" alt = "Betonlineag" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Betmgm">
      <span>Betmgm</span>
      <img src = "/static/images/betmgm.webp" alt = "Betmgm" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Betrivers">
      <span>Betrivers</span>
      <img src = "/static/images/betrivers.webp" alt = "Betrivers" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Betus">
      <span>Betus</span>
      <img src = "/static/images/betus.webp" alt = "Betus" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Draftkings">
      <span>Draftkings</span>
      <img src = "/static/images/draftkings.webp" alt = "Draftkings" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Fanduel">
      <span>Fanduel</span>
      <img src = "/static/images/fanduel.webp" alt = "Fanduel" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Mybookieag">
      <span>Mybookie</span>
      <img src = "/static/images/mybookieag.webp" alt = "Mybookieag" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Pinnacle">
      <span>Pinnacle</span>
      <img src = "/static/images/pinnacle.webp" alt = "Pinnacle" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Pointsbetus">
      <span data-value="Pointsbetus">Pointsbet</span>
      <img src = "/static/images/pointsbetus.webp" alt = "Pointsbetus" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Unibetus">
      <span>Unibet</span>
      <img src = "/static/images/unibetus.webp" alt = "Unibetus" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Williamhillus">
      <span>Williamhill</span>
      <img src = "/static/images/williamhillus.webp" alt = "Williamhillus" height="32" width="32">
    </li>

    <li class = "dropdown" data-value="Wynnbet">
      <span>Wynnbet</span>
      <img src = "/static/images/wynnbet.webp" alt = "Wynnbet" height="32" width="32">
    </li>

  </ul>
</div>

</body>
{% block content %}{% endblock %}

</html>